@model SwiftSkoolv1.Domain.Subject

@{
    ViewBag.Title = "Delete";
}



<h3>Are you sure you want to delete this?</h3>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.SubjectUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectUnit)
        </dd>*@

    </dl>
 
    <form id="myform" onsubmit="return false;">
        @Html.AntiForgeryToken()

        <input type="hidden" id="id" name="id" class="form-control" value="@Model.SubjectId">
        <input id="btndelete" type="submit" value="Delete" class="btn btn-danger" /> |

        <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
        
    </form>
</div>

<script type="text/javascript">
 
    $("#btndelete").click(function () {

        var data = $("#myform").serialize();
        //window.alert(data);
        $.ajax({
            type: "POST",
            url: "/Subjects/Delete",
            data: data,
            success: function (data) {
                if (data.status) {
                    $('#actionsList').modal("hide");
                    
                    window.oTable.ajax.reload(); //run my_fun() ondomready
                    
                    toastr["info"](data.message);
                    $('#myform')[0].reset();
                } else {
                   
                    toastr["error"](data.message);
                }

            }
        });
    });

 
</script>