@model SwiftSkoolv1.Domain.JambPractice.JambQuestionAnswer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QuestionAnswer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JambSubject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JambSubject.SubjectName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Level.LevelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level.LevelName)
        </dd>*@
        
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.Raw(Model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Option1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Option1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Option2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Option2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Option3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Option3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Option4)
        </dt>
   
        <dd>
            @Html.DisplayFor(model => model.Option4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionHint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionHint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFillInTheGag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFillInTheGag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMultiChoiceAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMultiChoiceAnswer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionAnswerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
