@model SwiftSkoolv1.Domain.AssignFormTeacherToClass

<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Assign FormTeacher To Class</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ClassName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ClassName", (SelectList)ViewBag.ClassName, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClassName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Teacher Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Username", (SelectList)ViewBag.Username, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-raised btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-3">

    </div>
</div>


