@model SwiftSkoolv1.Domain.AssignFormTeacherToClass


@if (Model != null && Model.Id > 0)
{
    <h4>Update</h4>
}
else
{
    <h4>Save</h4>
}


<form id="myform" onsubmit="return false;">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Assign FormTeacher To Class</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ClassName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClassName", (SelectList)ViewBag.ClassName, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClassName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Teacher Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Username", (SelectList)ViewBag.Username, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-raised btn-primary" />
            </div>
        </div>
    </div>

</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
 

    $("#btnsubmit").click(function () {

        var data = $("#myform").serialize();

        $.ajax({
            type: "POST",
            url: "/AssignFormTeacherToClasses/Save",
            data: data,
            success: function (data) {
                if (data.status) {
                    $('#actionsList').modal("hide");
                    // debugger
                    //$.fn.oTable();
                    window.oTable.ajax.reload(); //run my_fun() ondomready
                    //window.location.href = "/Subjects/Index";
                        
                    toastr["success"](data.message);
                    $('#myform')[0].reset();
                } else {
                    //$('#actionsList').modal("hide");
                    toastr["error"]("Teacher has not been Assigned");
                }

            }
        });
    });

 
</script>



