@model IEnumerable<SwiftSkoolv1.Domain.CaList>

@{
    ViewBag.Title = "DeleteCa";
}

<h2>DeleteCa</h2>

@ViewBag.Message
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Subject.SubjectCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
  
        <th>
            @Html.DisplayNameFor(model => model.ExamCa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grading)
        </th>
   
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.Subject.SubjectCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TermName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.ExamCa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grading)
        </td>
    
       
    </tr>
}

</table>
