@model SwiftSkool.Models.CaList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CaList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TermName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TermName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstCa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstCa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondCa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondCa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdCa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdCa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForthCa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForthCa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FifthCa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FifthCa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeventhCa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeventhCa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EightCa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EightCa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NinthtCa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NinthtCa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamCa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamCa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CaListId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
