@*@model IEnumerable<SwiftSkoolv1.Domain.PrincipalComment>*@@model PagedList.IPagedList<SwiftSkoolv1.Domain.PrincipalComment>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Principal's Comment</h2>

<p>
    @Html.ActionLink("Click Here to Create New", "Create", null, new {@class= "btn btn-raised btn-primary" })
</p>

@using (Html.BeginForm("Index", "Grades", FormMethod.Get, new { @class = "form-inline" }))
{
    <!-- BEGIN INLINE FORM -->
    <div class="row">
        <div class="col-lg-7">
            <article class="margin-bottom-xxl">
                <p class="lead">
                    Please use the following parameters to perform Query
                </p>
            </article>
        </div><!--end .col -->
        <div class="col-lg-12">
            <form class="form-inline">
                <div class="card">
                    <div class="card-body">

                        <div class="form-group">
                            @Html.DropDownList("ClassName", (SelectList)ViewBag.ClassName, "", new { @class = "form-control" })
                            <label for="ClassName">ClassName</label>
                        </div>

                        <button type="submit" class="btn btn-raised btn-warning-light ink-reaction"><i class="fa fa-search"></i> Search</button>
                    </div><!--end .card-body -->
                </div><!--end .card -->

            </form>
        </div><!--end .col -->
    </div>

    <!--end .row -->
    <!-- END INLINE FORM -->
}
<table class="table">
    <tr>
        <th>
           Class Name
        </th>
        <th>
           Minimum Grade
        </th>
        <th>
            Maximum Grade)
        </th>
        <th>
            Remark
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                <span>
                    <a href="@Url.Action("Edit", new {id = item.Id, @class = "btn btn-success"})"><span class="md-mode-edit"></span> Edit</a>
                </span> |
                <span>
                    <a href="@Url.Action("Delete", new {id = item.Id, @class = "btn btn-success"})"><span class="md-delete"></span> Delete</a>
                </span>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }

</table>

<br />
<div class="btn-group pull-right">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
    ViewBag.CurrentFilter
}))
</div>
