@model SwiftSkoolv1.Domain.FeeType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FeeType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.School.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeeCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeeCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountInWords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountInWords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeeTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
