@model SwiftSkoolv1.WebUI.ViewModels.SchoolVm

@{
    ViewBag.Title = "Create Trial Account";
}

<div class="card">
    <div class="card-block">
        <!-- Card title -->
        <div class="view primary-color">
            <h2>Create Trial Account</h2>
        </div>

        <div class="container-fluid">
            @using (Html.BeginForm("CreateTrialAccount", "Schools", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
            {
                @Html.AntiForgeryToken()

                <!-- First row -->
                <div class="row">
                    <!-- First column -->
                    <div class="col-md-4">
                        <div class="row">
                            <!-- Card -->
                            <div class="card contact-card card-cascade narrower mb-r">
                                <div class="admin-panel info-admin-panel">

                                    <!-- Card content -->
                                    <div class="card-block text-center">

                                        <img id="output" alt="School Logo" class="rounded-circle contact-avatar my-2 mx-auto" />

                                        <p class="text-muted">
                                            <small>photo will be changed automatically</small>
                                        </p>

                                        <input id="File" type="file" accept="image/*" name="File" onchange="loadFile(event)" style="display: none">
                                        <label for="File" class="btn btn-primary btn-block">Upload Logo</label>
                                    </div>
                                    <!-- /.Card content -->
                                </div>
                            </div>
                            <!-- /.Card -->
                        </div>
                        <div class="row">
                            <!-- Card -->
                            <div class="card contact-card card-cascade narrower mb-r">
                                <div class="admin-panel info-admin-panel">

                                    <!-- Card content -->
                                    <div class="card-block text-center">

                                        <img id="output2" alt="School Banner" class="rounded-circle img-responsive" />

                                        <p class="text-muted">
                                            <small>photo will be changed automatically</small>
                                        </p>
                                        <input id="BannerFile" type="file" accept="image/*" name="BannerFile" onchange="loadFile2(event)" style="display: none">
                                        <label for="BannerFile" class="btn btn-primary btn-block">Upload Banner</label>
                                    </div>
                                    <!-- /.Card content -->
                                </div>
                            </div>
                            <!-- /.Card -->
                        </div>
                    </div>
                    <!-- /.First column -->
                    <!-- Second column -->
                    <div class="col-md-8">
                        <!--Card-->
                        <div class="card card-cascade narrower mb-r">
                            <div class="admin-panel info-admin-panel">
                                <!--Card image-->
                                <div class="view primary-color">
                                    <h5 class="text-center">School Information</h5>
                                </div>
                                <!--/Card image-->
                                <!--Card content-->
                                <div class="card-block">
                                    <!-- Edit Form -->
                                    <form>
                                        <!--Zero row-->
                                        <div class="row">
                                            <!--First column-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.SchoolId)
                                                    @Html.EditorFor(model => model.SchoolId, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.SchoolId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <!--Second column-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.Label("Date of Establishment")
                                                    @Html.EditorFor(model => model.DateOfEstablishment, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.DateOfEstablishment, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <!--/.First row-->
                                        <!--First row-->
                                        <div class="row">
                                            <!--First column-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Name)
                                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <!--Second column-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Motto</label>
                                                    @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Alias, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <!--/.First row-->
                                        <!--First row-->
                                        <div class="row">
                                            <!--First column-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @*@Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })*@
                                                    @Html.LabelFor(model => model.State)
                                                    @Html.EnumDropDownListFor(model => model.State, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <!--Second column-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.LocalGovtArea)
                                                    @Html.EnumDropDownListFor(model => model.LocalGovtArea, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.LocalGovtArea, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <!--/.First row-->
                                        <!--Second row-->
                                        <div class="row">
                                            <!--First column-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.OwernshipType)
                                                    @Html.EnumDropDownListFor(model => model.OwernshipType, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.OwernshipType, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <!--Second column-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @*@Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })*@
                                                    @Html.LabelFor(model => model.Color)
                                                    @Html.EnumDropDownListFor(model => model.Color, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <!--/.Second row-->
                                        <!--Third row-->
                                        <div class="row">
                                            <!--First column-->
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Address)
                                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <!--/.Third row-->
                                        <!-- Fourth row -->
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <input type="submit" id="btnsubmit" value="Create Trial School Account" class="btn btn-primary">
                                            </div>
                                        </div>
                                        <!-- /.Fourth row -->
                                    </form>
                                    <!-- Edit Form -->
                                </div>
                                <!--/.Card content-->
                            </div>
                        </div>
                        <!--/.Card-->
                    </div>
                    <!-- /.Second column -->
                </div>
                <!-- /.First row -->

            }
        </div>
        <!--/Main layout-->
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
    var loadFile = function (event) {
        var fileUpload = document.getElementById("File");
        if (typeof (fileUpload.files) != "undefined") {
            var size = parseFloat(fileUpload.files[0].size / 1024).toFixed(2);
            if (size > 20) {
                toastr["error"]("The image is bigger than the specified size.");
                var output = document.getElementById('output');
                output.src = "#";
            } else {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
            }
        } else {
            alert("This browser does not support HTML5.");
        }

    };
    var loadFile2 = function (event) {
        var fileUpload = document.getElementById("BannerFile");
        if (typeof (fileUpload.files) != "undefined") {
            var size = parseFloat(fileUpload.files[0].size / 1024).toFixed(2);
            if (size > 30) {
                toastr["error"]("The image is bigger than the specified size.");
                var output2 = document.getElementById('output2');
                output2.src = "#";
            } else {
                var output2 = document.getElementById('output2');
                output2.src = URL.createObjectURL(event.target.files[0]);
            }
        } else {
            alert("This browser does not support HTML5.");
        }
    };
</script>