@model IEnumerable<SwiftSkoolv1.Domain.School>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalGovtArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalGovtArea)
        </td>
        <td>
            <img class="img-circle" src="@Url.Action("RenderImage","Schools", new { studentId = item.SchoolId})" width="100" height="100" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SchoolId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SchoolId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SchoolId })
        </td>
    </tr>
}

</table>
