
@model SwiftSkoolv1.Domain.School


<div class="mt-1 mb-1">
    <img src="@Url.Action("RenderImage", new { studentId = Model.SchoolId})" alt="" class="img-fluid rounded-circle contact-avatar mx-auto">
</div>
<h3 class="h3-responsive text-center">@Model.Name</h3>
<p class="text-center grey-text">Active School</p>
<ul class="striped">
    <li><strong>Date of Establishment: </strong> @Model.DateOfEstablishment\</li>
    <li><strong>Local Govt Area: </strong> @Model.LocalGovtArea</li>
    <li><strong>Motto: </strong> @Model.Motto</li>
    <li><strong>School Email: </strong> @Model.Email</li>
    <li><strong>Address:</strong> @Model.Address</li>
</ul>

@*@Html.ActionLink("Check Full Details", "Details", new { id = Model.StudentId }, new { @class = "btn btn-primary" })*@
