@using SwiftSkool.Services
@model SwiftSkoolv1.WebUI.ViewModels.StudentDashboardVm
@{
    ViewBag.Title = "Dashboard";
    var barModel = new List<DataPoint>();
}



<!-- First row -->
<div class="row">
    <!-- First column -->
    <div class="col-md-3">
        <section class="widget widget-simple-sm">
            <div class="widget-simple-sm-icon">
                <i class="font-icon font-icon-wp color-black-blue">Teacher</i>
            </div>
            <div class="widget-simple-sm-bottom">
                <a href="#">15 Themes</a>
            </div>
        </section>
            @*<div class="admin-up">
                <i class="fa fa-money blue"></i>
                <div class="data">
                    <p>Form Teacher</p>
                </div>
            </div>
           
                @if (Model.FormTeacher == null)
                {
                    <span class="text-xl">No Form Teacher Yet</span>
                    <br/>
                    @*<span class="opacity-50">Form Teacher</span>
                }
                else
                {
                    <strong class="text-xl">@Model.FormTeacher</strong><br />
                    <span class="opacity-50 text-sm">Form Teacher</span>
                }*@
    </div>

    <!-- Second column -->
    <div class="col-md-3">
       
        @*<div class="admin-up">
            <i class="fa fa-line-chart blue"></i>
            <div class="data">
                <p>Session/Term</p>
                <h3>@Model.Session</h3>
                <hr/>
                <h3>@Model.Term</h3>
            </div>
        </div>
        <p class="card-text">Session and Term</p>*@
        <section class="widget widget-simple-sm">
            <div class="widget-simple-sm-icon">
                <i class="font-icon font-icon-calend color-blue">Session</i>
            </div>
            <div class="widget-simple-sm-bottom">
                <a href="#">Session Name</a>
            </div>
        </section> 
    </div>

    <!-- Third column -->
    <div class="col-md-3">
       

            
        @*<div class="admin-up">
                <i class="fa fa-pie-chart blue"></i>
                <div class="data">
                    <p>Female</p>
                    <h3>@Model.FemaleStudents</h3>
                </div>
            </div>
          
               
               
                <p class="card-text">Female Student</p>*@
        <section class="widget widget-simple-sm">
            <div class="widget-simple-sm-icon">
                <i class="font-icon font-icon-user color-green">Female</i>
            </div>
            <div class="widget-simple-sm-bottom">
                <a href="#">@Model.FemaleStudents</a>
            </div>
        </section>
           
    </div>

    <!-- Fourth column -->
    <div class="col-md-3 mb-1">
      
        @*<div class="admin-up">
                <i class="fa fa-bar-chart blue"></i>
                <div class="data">
                    <p>Male</p>
                    <h3>@Model.MaleStudents</h3>
                </div>
            </div>
           
                <p class="card-text">Male Students</p>*@
        <section class="widget widget-simple-sm">
            <div class="widget-simple-sm-icon">
                <i class="font-icon font-icon-user color-green">Male</i>
            </div>
            <div class="widget-simple-sm-bottom">
                <a href="#">@Model.MaleStudents</a>
            </div>
        </section>
           
</div>
<!-- /.First row -->

</div>


    <!--Second row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">

                    <div class="form-header  purple darken-4">
                        <h3>
                            Latest News
                        </h3>
                    </div>

                    <!--Card content-->
                    <div class="card-block">

                        <div class="list-group">
                            @Html.Action("Menu", "Posts")
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-4">

           
            <div class="card">
                <div class="card-block">

                    <div class="form-header  purple darken-4">
                        <h3>
                            My Subjects
                        </h3>
                    </div>

                    <!--Card content-->
                    <div class="card-block">

                        <div class="list-group">
                            @if (@Model.Subjects == null)
                            {
                            <p>No Subjects Yet</p>
                            }
                            else
                            {
                                foreach (var subjects in Model.Subjects)
                                {
                                    <ul>
                                        <li>@subjects</li>
                                    </ul>
                               }

                            }
                           
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--/Second column-->

        <!--Third column-->
        <div class="col-md-4">

            <div class="card">
                <div class="card-block">

                    <div class="form-header purple darken-4">
                        <h3>
                            Fee Analysis
                        </h3>
                    </div>

                    <!--Card content-->
                    <div class="card-block">

                        <div class="list-group">
                             </div>

                    </div>
                    <!--/.Card content-->

                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--/Third column-->

    </div>
    <!--/Second row-->


@*<div class="row">
<div class="col-md-9">
    <div class="card mb-r">
        <div class="card-header white-text">
            Time Table
        </div>
        <div class="card-block" style="border-bottom:  1px;">
            <div class="row mb-1">
                
                <div class="col-2">
                    <small>Time</small>
                    <h6></h6>
                </div>
                <div class="col-2">
                    <small>Monday</small>
                    <h6></h6>
                </div>
                <div class="col-2">
                    <small>Tuesday</small>
                    <h6></h6>
                </div>
                <div class="col-2">
                    <small>Wednesday</small>
                    <h6></h6>
                </div>
                <div class="col-2">
                    <small>Thurday</small>
                    <h6></h6>
                </div>
                <div class="col-2">
                    <small>Friday</small>
                    <h6></h6>
                </div>

            </div>
                <div class="row mb-1">
                <div class="col-2">
                    <small>Monday</small>
                    <h6></h6>
                </div>
                <div class="col-2">
                    <small>New visitors</small>
                    <h6></h6>
                </div>
                <div class="col-4">
                    <small>Last week</small>
                    <h6></h6>
                </div>
                <div class="col-2">
                    <small>Tuesday</small>
                    <h6></h6>
                </div>
                <div class="col-2">
                    <small>New visitors</small>
                    <h6></h6>
                </div>
                <div class="col-4">
                    <small>Last week</small>
                    <h6>51 932</h6>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-4">
                    <small>Wednesday</small>
                    <h6></h6>
                </div>
                <div class="col-4">
                    <small>New visitors</small>
                    <h6>51.94%</h6>
                </div>
                <div class="col-4">
                    <small>Last week</small>
                    <h6>51 932</h6>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-2">
                    <small>Thurday</small>
                    <h6></h6>
                </div>
                <div class="col-2">
                    <small>Literature</small>
                    <h6>8-9</h6>
                </div>
                <div class="col-2">
                    <small>Commerce</small>
                    <h6>9-10</h6>
                </div>
                <div class="col-2">
                    <small>Biolgy</small>
                    <h6>10:30-11</h6>
                </div>
                <div class="col-2">
                    <small>Data Processing</small>
                    <h6>11-12</h6>
                </div>
                <div class="col-2">
                    <small>Arts</small>
                    <h6>12:30-1:30</h6>
                </div>
                @*<div class="col-2">
                    <small>Book Reading</small>
                    <h6>2-4</h6>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-2">
                    <small>Friday</small>
                    <h6></h6>
                </div>
                <div class="col-2">
                    <small>Maths</small>
                    <h6>8-9</h6>
                </div>
                <div class="col-2">
                    <small>English</small>
                    <h6>9-10</h6>
                </div>
           
                <div class="col-2">
                    <small>Chemisty</small>
                    <h6>10:30-11:30</h6>
                </div>
                <div class="col-2">
                    <small>Biology</small>
                    <h6>11:30-1pm</h6>
                </div>
                <div class="col-2">
                    <small>Physics</small>
                    <h6>1-2</h6>
                </div>
        </div>
            <a href="#" class="btn btn-primary">See more</a>
        </div>
    </div>
</div>
    </div>*@ 

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        @*<script>
               // window.alert(5 + 6);
                $(document).ready(function () {

                    var sourceFullView = { url: '/Students/GetDiaryEvents/' };
                    var sourceSummaryView = { url: '/Students/GetDiarySummary/' };
                    var CalLoading = true;

                    $('#calendar').fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        defaultView: 'agendaDay',
                        editable: true,
                        allDaySlot: false,
                        selectable: true,
                        slotMinutes: 15,
                        events: '/Students/GetDiaryEvents/',
                        eventClick: function (calEvent, jsEvent, view) {
                            alert('You clicked on event id: ' + calEvent.id
                                + "\nSpecial ID: " + calEvent.someKey
                                + "\nAnd the title is: " + calEvent.title);

                        },

                        eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
                            if (confirm("Confirm move?")) {
                                UpdateEvent(event.id, event.start);
                            }
                            else {
                                revertFunc();
                            }
                        },

                        eventResize: function (event, dayDelta, minuteDelta, revertFunc) {

                            if (confirm("Confirm change appointment length?")) {
                                UpdateEvent(event.id, event.start, event.end);
                            }
                            else {
                                revertFunc();
                            }
                        },



                        dayClick: function (date, allDay, jsEvent, view) {
                            $('#eventTitle').val("");
                            $('#eventDate').val($.fullCalendar.formatDate(date, 'dd/MM/yyyy'));
                            $('#eventTime').val($.fullCalendar.formatDate(date, 'HH:mm'));
                            ShowEventPopup(date);
                        },

                        viewRender: function (view, element) {

                            if (!CalLoading) {
                                if (view.name == 'month') {
                                    $('#calendar').fullCalendar('removeEventSource', sourceFullView);
                                    $('#calendar').fullCalendar('removeEvents');
                                    $('#calendar').fullCalendar('addEventSource', sourceSummaryView);
                                }
                                else {
                                    $('#calendar').fullCalendar('removeEventSource', sourceSummaryView);
                                    $('#calendar').fullCalendar('removeEvents');
                                    $('#calendar').fullCalendar('addEventSource', sourceFullView);
                                }
                            }
                        }

                    });

                    CalLoading = false;


                });

                $('#btnInit').click(function () {
                    $.ajax({
                        type: 'POST',
                        url: "/Students/Init",
                        success: function (response) {
                            if (response === 'True') {
                                $('#calendar').fullCalendar('refetchEvents');
                                alert('Database populated! ');
                            }
                            else {
                                alert('Error, could not populate database!');
                            }
                        }
                    });
                });

                $('#btnPopupCancel').click(function () {
                    ClearPopupFormValues();
                    $('#popupEventForm').hide();
                });

                $('#btnPopupSave').click(function () {

                    $('#popupEventForm').hide();

                    var dataRow = {
                        'Title': $('#eventTitle').val(),
                        'NewEventDate': $('#eventDate').val(),
                        'NewEventTime': $('#eventTime').val(),
                        'NewEventDuration': $('#eventDuration').val()
                    }

                    ClearPopupFormValues();

                    $.ajax({
                        type: 'POST',
                        url: "/Students/SaveEvent",
                        data: dataRow,
                        success: function (response) {
                            if (response === 'True') {
                                $('#calendar').fullCalendar('refetchEvents');
                                alert('New event saved!');
                            }
                            else {
                                alert('Error, could not save event!');
                            }
                        }
                    });
                });

                function ShowEventPopup(date) {
                    ClearPopupFormValues();
                    $('#popupEventForm').show();
                    $('#eventTitle').focus();
                }

                function ClearPopupFormValues() {
                    $('#eventID').val("");
                    $('#eventTitle').val("");
                    $('#eventDateTime').val("");
                    $('#eventDuration').val("");
                }

                function UpdateEvent(EventID, EventStart, EventEnd) {

                    var dataRow = {
                        'ID': EventID,
                        'NewEventStart': EventStart,
                        'NewEventEnd': EventEnd
                    }

                    $.ajax({    
                        type: 'POST',
                        url: "/Students/UpdateEvent",
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify(dataRow)
                    });
                }

            </script>*@
    }


