@model SwiftSkoolv1.Domain.Student

@{
    ViewBag.Title = "Details";
}

<div class="card contact-card card-cascade narrower mb-r">
<div class="admin-panel info-admin-panel">
<!-- Card title -->
<div class="view primary-color">
    <h5>Student Details</h5>
</div>
<!-- Nav tabs -->
<ul class="nav nav-tabs tabs-3 indigo" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#panel5" role="tab"><i class="fa fa-user"></i> Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel6" role="tab"><i class="fa fa-heart"></i> Parent/Guardian</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel7" role="tab"><i class="fa fa-envelope"></i> School Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fa fa-envelope"></i> Result</a>
    </li>
   
</ul>
<!-- Tab panels -->
<div class="tab-content">
    <!--Panel 1-->
    <div class="tab-pane fade in show active" id="panel5" role="tabpanel">
        <br>
        <div class="col-md-4">
           &nbsp;
        </div>
        <div class="col-md-4">

            <!--Card-->
            <div class="card card-cascade wider">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="@Url.Action("RenderImage", new { studentId = Model.StudentId})" class="img-fluid">
                    <a href="#!">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-block text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>@Model.FullName</strong></h4>
                    <h5>Student</h5>

                    <p class="card-text">@Model.PhoneNumber </p>
                    <p class="card-text">@Model.Age </p>
                    <p class="card-text">@Model.Religion </p>
                    <p class="card-text">@Model.StateOfOrigin </p>
                    <p class="card-text">@Model.PlaceOfBirth </p>
                    <p class="card-text">@Model.Tribe </p>

                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
        </div>
    <!--/.Panel 1-->
    <!--Panel 2-->
    <div class="tab-pane fade" id="panel6" role="tabpanel">
        <br>
        <table class="table">
            <tr>
                <th>
                    Salutation
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Address
                </th>
                <th>
                    Relationship
                </th>
           
                <th></th>
            </tr>
            @foreach (var item in Model.Guardian.Where(s => s.StudentId == Model.StudentId))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salutation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Relationship)
                    </td>
             

                </tr>

            }
        </table>    </div>
    <!--/.Panel 2-->
    <!--Panel 3-->
    <div class="tab-pane fade" id="panel7" role="tabpanel">
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
    </div>
    <!--/.Panel 3-->
</div>

</div>

    

</div>
