

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<img src="~/Content/images/logo.PNG" width="900" />*@
<p><strong>@ViewBag.Subject </strong></p>
<p><strong>@ViewBag.ClassName </strong></p>
<p><strong>@ViewBag.Term </strong></p>
<p><strong>@ViewBag.Session </strong></p>
<p>Sum per Subject is  @ViewBag.SubjectTotal</p>
<p> Class Average = @ViewBag.ClassAverage</p>

<p>student in class = @ViewBag.StudentPerClass</p>

<p>Average = @ViewBag.Average</p>
<p>Total Score = @ViewBag.TotalScore</p>





  

 



