@model SwiftSkoolv1.Domain.BookIssue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookIssue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessionNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessionNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookIssueId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
