@model SwiftSkoolv1.WebUI.ViewModels.StudentViewModel
@using SwiftSkool.Extensions
@{
    ViewBag.Title = "Register";
}

<div class="card">
<div class="card-block">
       
<div class="form-header  purple darken-4">
    <h3>
        <i class="fa fa-add"></i> Register Student
    </h3>
</div>
@using (Html.BeginForm("RegisterStudent", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <!-- Section: Edit Account -->
        <section class="section">
            <!-- First row -->
            <div class="row">
                <!-- First column -->
                <div class="col-lg-4">
                    <div class="row">
                        <!-- Card -->
                        <div class="card contact-card card-cascade narrower mb-r">
                            <div class="admin-panel info-admin-panel">
                                <!-- Card title -->
                                @*<div class="view primary-color">
                                    <h5>Add Passport</h5>
                                </div>*@
                                <!-- /.Card title -->
                                <!-- Card content -->
                                <div class="card-block text-center">

                                    <img id="output" alt="Student Passport" class="rounded-circle contact-avatar my-2 mx-auto" />

                                    <p class="text-muted">
                                        <small>photo will be changed automatically</small>
                                        <small><br />Image Size not more than 25kb</small>
                                    </p>

                                    <input id="File" type="file" accept="image/*" name="File" onchange="loadFile(event)" style="display: none">
                                    <label for="File" class="btn btn-primary btn-block">Upload Photo</label>


                                </div>
                                <!-- /.Card content -->
                            </div>
                        </div>
                        <!-- /.Card -->
                    </div>
                  
                </div>
                <!-- /.First column -->
                <!-- Second column -->
                <div class="col-lg-8">
                    <!--Card-->
                    <div class="card card-cascade narrower mb-r">
                        <div class="admin-panel info-admin-panel">
                            <!--Card image-->
                            @*<div class="view primary-color">
                                <h5>Student Profile</h5>
                            </div>*@
                            <!--/Card image-->
                            <!--Card content-->
                            <div class="card-block">
                                <!-- Edit Form -->
                                <form>
                                    <!--Zero row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.StudentId)
                                                @Html.EditorFor(model => model.StudentId, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.StudentId, "", new {@class = "text-danger"})

                                            </div>


                                        </div>
                                        <!--Second column-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.Label("Admission Date")
                                                @Html.EditorFor(model => model.AdmissionDate, new {htmlAttributes = new {@class = "form-control datepicker", @placeholder = "Admission Date"}})
                                                @Html.ValidationMessageFor(model => model.AdmissionDate, "", new {@class = "text-danger"})
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.First row-->
                                    <!--First row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.LastName)
                                                @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})

                                            </div>


                                        </div>
                                        <!--Second column-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FirstName)
                                                @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
                                            </div>
                                        </div>
                                        <!--Third column-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="MiddleName">Other Names </label>
                                                @Html.EditorFor(model => model.MiddleName, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.MiddleName, "", new {@class = "text-danger"})
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.First row-->
                                    <!--First row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Gender)
                                                @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new {@class = "form-control"})
                                                @Html.ValidationMessageFor(model => model.Gender, "", new {@class = "text-danger"})

                                            </div>
                                        </div>
                                        <!--Second column-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.StateOfOrigin)
                                                @Html.EnumDropDownListFor(model => model.StateOfOrigin, htmlAttributes: new {@class = "form-control"})
                                                @Html.ValidationMessageFor(model => model.StateOfOrigin, "", new {@class = "text-danger"})
                                            </div>
                                        </div>
                                        <!--Third column-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Religion)
                                                @Html.EnumDropDownListFor(model => model.Religion, htmlAttributes: new {@class = "form-control"})
                                                @Html.ValidationMessageFor(model => model.Religion, "", new {@class = "text-danger"})
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <!--/.First row-->
                                    <!--Second row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.Label("Date of Birth")
                                                @Html.EditorFor(model => model.DateOfBirth, new {htmlAttributes = new {@class = "form-control datepicker", @placeholder = "Date of Birth"}})
                                                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new {@class = "text-danger"})
                                            </div>
                                        </div>
                                        <!--Second column-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PlaceOfBirth)
                                                @Html.EditorFor(model => model.PlaceOfBirth, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.PlaceOfBirth, "", new {@class = "text-danger"})
                                            </div>
                                        </div>
                                        <!--Third column-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Tribe)
                                                @Html.EditorFor(model => model.Tribe, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.Tribe, "", new {@class = "text-danger"})
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.Second row-->
                                    <!--Third row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PhoneNumber)
                                                @Html.EditorFor(model => model.PhoneNumber, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Password)
                                                @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ConfirmPassword)
                                                @Html.EditorFor(model => model.ConfirmPassword, new {htmlAttributes = new {@class = "form-control"}})
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
                                            </div>

                                        </div>
                                    </div>
                                    <!--/.Third row-->
                                    <!-- Fourth row -->
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <input type="submit" id="btnsubmit" value="Add Student" class="btn btn-primary btn-lg">
                                        </div>
                                    </div>
                                    <!-- /.Fourth row -->
                                </form>
                                <!-- Edit Form -->
                            </div>
                            <!--/.Card content-->
                        </div>
                    </div>
                    <!--/.Card-->
                </div>
                <!-- /.Second column -->
            </div>
            <!-- /.First row -->
        </section>
        <!-- /.Section: Edit Account -->

    </div>
}
<!--/Main layout-->
    </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
    var loadFile = function (event) {
        var fileUpload = document.getElementById("File");
        if (typeof (fileUpload.files) != "undefined") {
            var size = parseFloat(fileUpload.files[0].size / 1024).toFixed(2);
            if (size > 20) {
                toastr["error"]("The image is bigger than the specified size.");
                var output = document.getElementById('output');
                output.src = "#";
            } else {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
            }
        } else {
            alert("This browser does not support HTML5.");
        }

    };
    var loadFile2 = function (event) {
        var fileUpload = document.getElementById("BannerFile");
        if (typeof (fileUpload.files) != "undefined") {
            var size = parseFloat(fileUpload.files[0].size / 1024).toFixed(2);
            if (size > 30) {
                toastr["error"]("The image is bigger than the specified size.");
                var output2 = document.getElementById('output2');
                output2.src = "#";
            } else {
                var output2 = document.getElementById('output2');
                output2.src = URL.createObjectURL(event.target.files[0]);
            }
        } else {
            alert("This browser does not support HTML5.");
        }
    };
</script>