@model SwiftSkoolv1.WebUI.ViewModels.StudentViewModel
@using SwiftSkool.Extensions
@{
    ViewBag.Title = "Register";
}

<h2>Register Student</h2>

@*@using (Html.BeginForm("RegisterStudent", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.StudentId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlaceOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.PlaceOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlaceOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StateOfOrigin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EnumDropDownListFor(model => model.StateOfOrigin, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StateOfOrigin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdmissionDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.AdmissionDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdmissionDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Religion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EnumDropDownListFor(model => model.Religion, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tribe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Tribe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tribe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-8">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-8">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="editor-field">
                @Html.FileFor(model => model.File)
                @Html.ValidationMessageFor(model => model.File)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-7">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>



}*@


@using (Html.BeginForm("RegisterStudent", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <!-- Section: Edit Account -->
        <section class="section">
            <!-- First row -->
            <div class="row">
                <!-- First column -->
                <div class="col-lg-4">
                    <div class="row">
                        <!-- Card -->
                        <div class="card contact-card card-cascade narrower mb-r">
                            <div class="admin-panel info-admin-panel">
                                <!-- Card title -->
                                <div class="view primary-color">
                                    <h5>Add Passport</h5>
                                </div>
                                <!-- /.Card title -->
                                <!-- Card content -->
                                <div class="card-block text-center">

                                    <img id="output" alt="School Logo" class="rounded-circle contact-avatar my-2 mx-auto" />

                                    <p class="text-muted">
                                        <small>photo will be changed automatically</small>
                                    </p>

                                    <input id="File" type="file" accept="image/*" name="File" onchange="loadFile(event)" style="display: none">
                                    <label for="File" class="btn btn-primary btn-block">Upload Logo</label>


                                </div>
                                <!-- /.Card content -->
                            </div>
                        </div>
                        <!-- /.Card -->
                    </div>
                  
                </div>
                <!-- /.First column -->
                <!-- Second column -->
                <div class="col-lg-8">
                    <!--Card-->
                    <div class="card card-cascade narrower mb-r">
                        <div class="admin-panel info-admin-panel">
                            <!--Card image-->
                            <div class="view primary-color">
                                <h5>Student Profile</h5>
                            </div>
                            <!--/Card image-->
                            <!--Card content-->
                            <div class="card-block">
                                <!-- Edit Form -->
                                <form>
                                    <!--Zero row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.StudentId, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.LabelFor(model => model.StudentId)
                                                @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })

                                            </div>


                                        </div>
                                        <!--Second column-->
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.AdmissionDate, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Addmission Date" } })
                                                @Html.ValidationMessageFor(model => model.AdmissionDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.First row-->
                                    <!--First row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-4">
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.LabelFor(model => model.LastName)
                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                                            </div>


                                        </div>
                                        <!--Second column-->
                                        <div class="col-md-4">
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.LabelFor(model => model.FirstName)
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!--Third column-->
                                        <div class="col-md-4">
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                                <label for="MiddleName">Other Names </label>
                                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.First row-->
                                    <!--First row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-4">
                                            <div class="md-form">
                                                @*@Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "mdb-select" })
                                                @Html.LabelFor(model => model.Gender)
                                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <!--Second column-->
                                        <div class="col-md-4">
                                            <div class="md-form">
                                                @Html.EnumDropDownListFor(model => model.StateOfOrigin, htmlAttributes: new { @class = "mdb-select" })
                                                @Html.LabelFor(model => model.StateOfOrigin)
                                                @Html.ValidationMessageFor(model => model.StateOfOrigin, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!--Third column-->
                                        <div class="col-md-4">
                                            <div class="md-form">
                                                @Html.EnumDropDownListFor(model => model.Religion, htmlAttributes: new { @class = "mdb-select" })
                                                @Html.LabelFor(model => model.Religion)
                                                @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <!--/.First row-->
                                    <!--Second row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-4">
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Date of Birth" } })
                                                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!--Second column-->
                                        <div class="col-md-4">
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.PlaceOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.LabelFor(model => model.PlaceOfBirth)
                                                @Html.ValidationMessageFor(model => model.PlaceOfBirth, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!--Third column-->
                                        <div class="col-md-4">
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.Tribe, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.LabelFor(model => model.Tribe)
                                                @Html.ValidationMessageFor(model => model.Tribe, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.Second row-->
                                    <!--Third row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-4">
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.LabelFor(model => model.PhoneNumber)
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.LabelFor(model => model.Password)
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="md-form">
                                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.LabelFor(model => model.ConfirmPassword)
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                    <!--/.Third row-->
                                    <!-- Fourth row -->
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <input type="submit" id="btnsubmit" value="Add Student" class="btn btn-primary">
                                        </div>
                                    </div>
                                    <!-- /.Fourth row -->
                                </form>
                                <!-- Edit Form -->
                            </div>
                            <!--/.Card content-->
                        </div>
                    </div>
                    <!--/.Card-->
                </div>
                <!-- /.Second column -->
            </div>
            <!-- /.First row -->
        </section>
        <!-- /.Section: Edit Account -->

    </div>
}
<!--/Main layout-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
    var loadFile = function (event) {
        var fileUpload = document.getElementById("File");
        if (typeof (fileUpload.files) != "undefined") {
            var size = parseFloat(fileUpload.files[0].size / 1024).toFixed(2);
            if (size > 20) {
                toastr["error"]("The image is bigger than the specified size.");
                var output = document.getElementById('output');
                output.src = "#";
            } else {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
            }
        } else {
            alert("This browser does not support HTML5.");
        }

    };
    var loadFile2 = function (event) {
        var fileUpload = document.getElementById("BannerFile");
        if (typeof (fileUpload.files) != "undefined") {
            var size = parseFloat(fileUpload.files[0].size / 1024).toFixed(2);
            if (size > 30) {
                toastr["error"]("The image is bigger than the specified size.");
                var output2 = document.getElementById('output2');
                output2.src = "#";
            } else {
                var output2 = document.getElementById('output2');
                output2.src = URL.createObjectURL(event.target.files[0]);
            }
        } else {
            alert("This browser does not support HTML5.");
        }
    };
</script>