
@{
    ViewBag.Title = "SearhResultMain";
}

<h2>SearhResultMain</h2>


@using (Html.BeginForm("DownloadResult", "Results", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
				
			   
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("StudentId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudentId", (SelectList)ViewBag.StudentId, "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Term Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TermName", (SelectList)ViewBag.TermName, "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Session Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SessionName", (SelectList)ViewBag.SessionName, "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search Result" class="btn btn-primary btn-raised" />
            </div>
        </div>
    </div>
}
