@model SwiftSkoolv1.Domain.Psychomotor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Psychomotor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TermName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TermName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sports)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sports)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraCurricularActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraCurricularActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HelpingOthers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HelpingOthers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManualDuty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManualDuty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LevelOfCommitment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LevelOfCommitment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
