@using Microsoft.AspNet.Identity
@using SwiftSkool.Models
@using SwiftSkoolv1.WebUI.ViewModels
@{
    BaseViewModel Model = (BaseViewModel)ViewBag.LayoutViewModel;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title -@Model.Alias</title>

    <link rel="stylesheet" href="~/StartUI/css/lib/lobipanel/lobipanel.min.css">
    <link rel="stylesheet" href="~/StartUI/css/separate/vendor/lobipanel.min.css">
    <link rel="stylesheet" href="~/StartUI/css/lib/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/StartUI/css/separate/pages/widgets.min.css">
    <link rel="stylesheet" href="~/StartUI/css/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="~/StartUI/css/lib/bootstrap/bootstrap.min.css">
    <link href="~/StartUI/css/lib/datatables-net/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/StartUI/css/main.css">
    <link href="~/StartUI/css/lib/summernote/summernote.css" rel="stylesheet" />

    <!-- Toastr style -->
    <link href="~/Content/toastr.min.css" rel="stylesheet">
</head>
<body class="with-side-menu control-panel control-panel-compact">
    <header class="site-header">
        @if (Request.IsAuthenticated)
        {
            <div class="container-fluid">
                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("AdminDashBoard","Home")" class="site-logo">
                        <img src="@Url.Action("RenderImage", "Schools", new {studentId = Model.SchoolId})" class="hidden-md-down">
                        <img src="@Url.Action("RenderImage", "Schools", new {studentId = Model.SchoolId})" class="hidden-lg-down">
                    </a>
                }
                else if (User.IsInRole("Student"))
                {
                    <a href="@Url.Action("DashBoard","Students")" class="site-logo">
                        <img src="@Url.Action("RenderImage", "Schools", new {studentId = Model.SchoolId})" class="hidden-md-down">
                        <img src="@Url.Action("RenderImage", "Schools", new {studentId = Model.SchoolId})" class="hidden-lg-down">
                    </a>
                }
                else if (User.IsInRole("Teacher"))
                {
                    <a href="@Url.Action("StaffDashboard","Staffs")" class="site-logo">
                        <img src="@Url.Action("RenderImage", "Schools", new {studentId = Model.SchoolId})" class="hidden-md-down">
                        <img src="@Url.Action("RenderImage", "Schools", new {studentId = Model.SchoolId})" class="hidden-lg-down">
                    </a>
                }
                else if (User.IsInRole("SuperAdmin"))
                {
                    <a href="@Url.Action("GeneralDashboard","Home")" class="site-logo">
                        <img src="~/Content/images/swiftskool.png" class="hidden-md-down">
                        <img src="~/Content/images/swiftskool.png" class="hidden-lg-down">
                    </a>
                }
                
                <button id="show-hide-sidebar-toggle" class="show-hide-sidebar">
                    <span>toggle menu</span>
                </button>

                <button class="hamburger hamburger--htla">
                    <span>toggle menu</span>
                </button>
                <div class="site-header-content">
                    <div class="site-header-content-in">
                        
                        <div class="site-header-shown">
                            <div class="dropdown dropdown-notification notif">
                                <div class="dropdown">
                                    @if (User.IsInRole("Teacher"))
                                    {

                                        <span class="profile-info">
                                            Hi, Staff
                                            <small>@User.Identity.GetUserName()</small>
                                        </span>
                                    }
                                    else if (User.IsInRole("Student"))
                                    {

                                        <span class="profile-info">
                                            Hi, Student
                                            <small>@User.Identity.GetUserName()</small>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="profile-info">
                                            Hi,
                                            <small>@User.Identity.GetUserName()</small>
                                        </span>
                                    }
                                </div>
                            </div>

                            <div class="dropdown user-menu">
                                <button class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="img/avatar-2-64.png" alt="img">
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
                                    <a class="dropdown-item" href="index.html#"><span class="font-icon glyphicon glyphicon-user"></span>Profile</a>
                                    <a class="dropdown-item" href="index.html#"><span class="font-icon glyphicon glyphicon-cog"></span>Settings</a>
                                    <a class="dropdown-item" href="index.html#"><span class="font-icon glyphicon glyphicon-question-sign"></span>Help</a>
                                    <div class="dropdown-divider"></div>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
                                    {
                                        @Html.AntiForgeryToken()

                                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><span class="font-icon glyphicon glyphicon-log-out"></span>Logout</a>
                                    }
                                </div>
                            </div>
                            <div class="dropdown">
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
                                {
                                    @Html.AntiForgeryToken()

                                    <a class="btn btn-primary" href="javascript:document.getElementById('logoutForm').submit()"><span class="font-icon glyphicon glyphicon-log-out"></span>Logout</a>
                                }
                            </div>
                            <button type="button" class="burger-right">
                                <i class="font-icon-menu-addl"></i>
                            </button>
                        </div><!--.site-header-shown-->

                        <div class="mobile-menu-right-overlay"></div>
                        <div class="site-header-collapsed">
                            <div class="site-header-collapsed-in">
                                @*<a class="btn btn-nav btn-rounded btn-inline btn-danger-outline" href="http://themeforest.net/item/startui-premium-bootstrap-4-admin-dashboard-template/15228250?ref=themesanytime">
                                    Buy Theme
                                </a>*@
                            </div><!--.site-header-collapsed-in-->
                        </div>
                        <!--.site-header-collapsed-->

                    </div><!--site-header-content-in-->
                </div><!--.site-header-content-->
            </div>
            <!--.container-fluid-->
        }
    </header><!--.site-header-->
    <div class="mobile-menu-left-overlay"></div>

    <nav class="side-menu">
        @if (Request.IsAuthenticated && User.IsInRole("SuperAdmin"))
        {
        <ul class="side-menu-list">
            <li class="red">
                <a href="mail.html">
                    <i class="font-icon glyphicon glyphicon-send"></i>
                    <span class="lbl">Dashboard</span>
                </a>
            </li>
            <li class="grey with-sub">
                <span>
                    <i class="font-icon font-icon-dashboard"></i>
                    <span class="lbl">School</span>
                </span>
                <ul>
                    <li>@Html.ActionLink("View Schools", "Index", "Schools")</li>
                    <li>@Html.ActionLink("Add School", "Create", "Schools")</li>
                </ul>
            </li>

            <li class="red">
                <a href="@Url.Action("Index", "Sessions")">
                    <i class="font-icon glyphicon glyphicon-send"></i>
                    <span class="lbl">Sessions</span>
                </a>
            </li>


            <li class="pink-red">
                <a href="@Url.Action("Index", "Terms")">
                    <i class="font-icon font-icon-zigzag"></i>
                    <span class="lbl">Terms</span>
                </a>
            </li>
            <li class="blue with-sub">
                <span>
                    <i class="font-icon font-icon-user"></i>
                    <span class="lbl">School Admin</span>
                </span>
                <ul>
                    <li>@Html.ActionLink("View Admin", "AdminIndex", "Account")</li>
                    <li>@Html.ActionLink("Create Admin", "RegisterAdmin", "Account")</li>
                    <li>@Html.ActionLink("View Staff Account", "AdminIndex", "Account")</li>
                    <li>@Html.ActionLink("Reset Password", "StaffIndex", "Account")</li>
                </ul>
            </li>
            <li class="blue with-sub">
                <span>
                    <i class="font-icon font-icon-answer"></i>
                    <span class="lbl">Jamb Cbte</span>
                </span>
                <ul>
                    <li>@Html.ActionLink("Jamb Subjects", "Index", "JambSubjects")</li>
                    <li>@Html.ActionLink("Jamb Questions", "Create", "JambQuestionAnswers")</li>
                    <li>@Html.ActionLink("View Exam Rule", "Index", "JambExamRules")</li>
                    <li>@Html.ActionLink("Add Exam Rule", "Create", "JambExamRules")</li>
                </ul>
            </li>

            <li class="red">
                <a href="@Url.Action("Index", "SchoolClasses")" class="label-right">
                    <i class="font-icon font-icon-contacts"></i>
                    <span class="lbl">School Class</span>

                </a>
            </li>
        </ul>
        }
        else if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <ul class="side-menu-list">
                <li class="pink-red">
                    <a href="@Url.Action("AdminDashBoard","Home")">
                        <i class="font-icon font-icon-zigzag"></i>
                        <span class="lbl">DashBoard</span>
                    </a>
                </li>
                <li class="grey with-sub">
                    <span>
                        <i class="font-icon font-icon-dashboard"></i>
                        <span class="lbl">Student</span>
                    </span>
                    <ul>
                        <li>@Html.ActionLink("Add Student", "RegisterStudent", "Account")</li>
                        <li>@Html.ActionLink("List Students", "Index", "Students")</li>
                        <li>@Html.ActionLink("Activate Student", "ActivateStudent", "Account")</li>
                        @*<li>@Html.ActionLink("Excel Upload", "UpLoadStudent", "Account")</li>*@
                    </ul>
                </li>
                <li class="red">
                    <a href="@Url.Action("Index", "Guardians")">
                        <i class="font-icon glyphicon glyphicon-send"></i>
                        <span class="lbl">Guardian</span>
                    </a>
                </li>
                <li class="brown with-sub">
                    <span>
                        <i class="font-icon glyphicon glyphicon-tint"></i>
                        <span class="lbl">Manage Class</span>
                    </span>
                    <ul>
                        <li>@Html.ActionLink("Add/List Classes", "Index", "Classes")</li>
                        <li>@Html.ActionLink("View Assign Class", "Index", "AssignedClasses")</li>
                        <li>@Html.ActionLink("Assign Class", "Create", "AssignedClasses")</li>
                    </ul>
                </li>
                <li class="purple with-sub">
                    <span>
                        <i class="font-icon font-icon-comments active"></i>
                        <span class="lbl">Manage Subject</span>
                    </span>
                    <ul>
                        <li>@Html.ActionLink("Add/List Subjects", "Index", "Subjects")</li>
                        <li>@Html.ActionLink("View Assigned Subjects", "Index", "AssignSubjects")</li>
                        <li>@Html.ActionLink("Assigned Subjects", "Create", "AssignSubjects")</li>
                        <li>@Html.ActionLink("Register Student", "Create", "SubjectRegistrations")</li>
                        <li>@Html.ActionLink("View Student Subject", "Index", "SubjectRegistrations")</li>
                    </ul>
                </li>

                <li class="gold with-sub">
                    <span>
                        <i class="font-icon font-icon-edit"></i>
                        <span class="lbl">Manage Teacher</span>
                    </span>
                    <ul>
                        <li>@Html.ActionLink("Add Teacher", "RegisterStaff", "Account")</li>
                        <li>@Html.ActionLink("View Teacher", "Index", "Staffs")</li>
                        <li>@Html.ActionLink("Subject Teacher", "Index", "AssignSubjectTeachers")</li>
                    </ul>
                </li>
                <li class="blue with-sub">
                    <span>
                        <i class="font-icon font-icon-cloud-download"></i>
                        <span class="lbl">E-Learning</span>
                    </span>
                    <ul>
                        <li>@Html.ActionLink("E-Learning", "Index", "ELearning")</li>
                       
                    </ul>
                </li>
                <li class="gold with-sub">
                    <span>
                        <i class="font-icon font-icon-edit"></i>
                        <span class="lbl">Library</span>
                    </span>
                    <ul>
                        <li>@Html.ActionLink("Books", "Create", "FeeTypes")</li>
                        <li>@Html.ActionLink("Issue Book", "Index", "FeeTypes")</li>
                    </ul>
                </li>
                <li class="blue with-sub">
                    <span>
                        <i class="font-icon font-icon-user"></i>
                        <span class="lbl">Fee Management</span>
                    </span>
                    <ul>
                        <li>@Html.ActionLink("List Fees Types", "Index", "FeeTypes")</li>
                        <li>@Html.ActionLink("Fee Payment", "Index", "FeePayments")</li>
                        <li>@Html.ActionLink("Remita Settings", "Index", "RemitaFeeSettings")</li>
                        <li>@Html.ActionLink("Update Payment", "Index", "FeePayments")</li>
                        @*<li>@Html.ActionLink("Debtors List", "DebtorsList", "FeePayments")</li>*@
                    </ul>
                </li>

                <li class="green with-sub">
                    <span>
                        <i class="font-icon font-icon-widget"></i>
                        <span class="lbl">Result Management</span>
                    </span>
                    <ul>
                        <li>@Html.ActionLink("Assign Behavioral", "Create", "AssignBehaviors")</li>
                        <li>@Html.ActionLink("View Behavioral", "Index", "AssignBehaviors")</li>

                        <li>@Html.ActionLink("View/Add CA", "CreateCaView", "CaLists")</li>
                        <li>@Html.ActionLink("Upload CA", "UploadResult", "CaLists")</li>
                        <li>@Html.ActionLink("Pdf Result", "Index", "FileDownload")</li>
                        <li>@Html.ActionLink("Check Result", "SearhResultMain", "Results")</li>

                        <li>@Html.ActionLink("Check Cummulative", "SearhResult", "Results")</li>
                    </ul>
                </li>
                <li class="grey with-sub">
                    <span>
                        <span class="glyphicon glyphicon-duplicate"></span>
                        <span class="lbl">News/Article</span>
                    </span>
                    <ul>
                        <li>@Html.ActionLink("Add News", "Create", "Posts")</li>
                        <li>@Html.ActionLink("View News", "Index", "Posts")</li>
                    </ul>
                </li>

                <li class="brown with-sub">
                    <span>
                        <span class="font-icon font-icon-chart"></span>
                        <span class="lbl">SMS</span>
                    </span>
                    <ul>
                        <li>@Html.ActionLink("Send to Numbers", "SendToNumbers", "Sms")</li>
                        <li>@Html.ActionLink("Send to Class", "SendSMS", "Sms")</li>
                        <li>@Html.ActionLink("Send to Staff", "SendToStaff", "Sms")</li>
                        <li>@Html.ActionLink("Send to Parents", "SendToAllStudent", "Sms")</li>
                    </ul>
                </li>

                <li class="orange-red with-sub">
                    <span>
                        <i class="font-icon font-icon-help"></i>
                        <span class="lbl">Settings</span>
                    </span>
                    <ul>
                        <li>@Html.ActionLink("School Details", "Index", "Schools")</li>
                        <li>@Html.ActionLink("Edit School Details", "Edit", "Schools")</li>
                        <li>@Html.ActionLink("Add/List School Class", "Index", "SchoolClasses")</li>
                        <li>@Html.ActionLink("CA Setup", "Index", "CaSetUps")</li>
                        <li>@Html.ActionLink("Grade SetUp", "Index", "Grades")</li>
                        <li>@Html.ActionLink("Add/List Category", "Index", "BehaviorSkillCategories")</li>
                        <li>@Html.ActionLink("Add/List Behavioural Skill", "Index", "BehaviouralSkills")</li>
                        <li>@Html.ActionLink("Principal Remark", "Index", "PrincipalComments")</li>
                    </ul>
                </li>
                <li class="red">




            </ul>
        }
        else if (Request.IsAuthenticated && User.IsInRole("Student"))
        {

        }
        else if (Request.IsAuthenticated && User.IsInRole("Teacher"))
        {

        }
        <div class="footer-copyright">
            <div class="container-fluid">
                <a href="https://www.CompunetLimited.org"> <img class="img-responsive" src="~/Content/images/comlogo.png" height="25" width="150" /> </a>
            </div>
        </div>
    </nav><!--.side-menu-->

    <div class="page-content">
        <div class="container-fluid">
            @RenderBody()
        </div><!--.container-fluid-->
    </div><!--.page-content-->
    <div class="control-panel-container">
        <ul>
            <li class="tasks">
                <div class="control-item-header">
                    <a href="index.html#" class="icon-toggle">
                        <span class="caret-down fa fa-caret-down"></span>
                        <span class="icon fa fa-tasks"></span>
                    </a>
                    <span class="text">Task list</span>
                    <div class="actions">
                        <a href="index.html#">
                            <span class="fa fa-refresh"></span>
                        </a>
                        <a href="index.html#">
                            <span class="fa fa-cog"></span>
                        </a>
                        <a href="index.html#">
                            <span class="fa fa-trash"></span>
                        </a>
                    </div>
                </div>
                <div class="control-item-content">
                    <div class="control-item-content-text">You don't have pending tasks.</div>
                </div>
            </li>
            <li class="sticky-note">
                <div class="control-item-header">
                    <a href="index.html#" class="icon-toggle">
                        <span class="caret-down fa fa-caret-down"></span>
                        <span class="icon fa fa-file"></span>
                    </a>
                    <span class="text">Sticky Note</span>
                    <div class="actions">
                        <a href="index.html#">
                            <span class="fa fa-refresh"></span>
                        </a>
                        <a href="index.html#">
                            <span class="fa fa-cog"></span>
                        </a>
                        <a href="index.html#">
                            <span class="fa fa-trash"></span>
                        </a>
                    </div>
                </div>
                <div class="control-item-content">
                    <div class="control-item-content-text">
                        StartUI – a full featured, premium web application admin dashboard built with Twitter Bootstrap 4, JQuery and CSS
                    </div>
                </div>
            </li>
            <li class="emails">
                <div class="control-item-header">
                    <a href="index.html#" class="icon-toggle">
                        <span class="caret-down fa fa-caret-down"></span>
                        <span class="icon fa fa-envelope"></span>
                    </a>
                    <span class="text">Recent e-mails</span>
                    <div class="actions">
                        <a href="index.html#">
                            <span class="fa fa-refresh"></span>
                        </a>
                        <a href="index.html#">
                            <span class="fa fa-cog"></span>
                        </a>
                        <a href="index.html#">
                            <span class="fa fa-trash"></span>
                        </a>
                    </div>
                </div>
                <div class="control-item-content">
                    <section class="control-item-actions">
                        <a href="index.html#" class="link">My e-mails</a>
                        <a href="index.html#" class="mark">Mark visible as read</a>
                    </section>
                    <ul class="control-item-lists">
                        <li>
                            <a href="index.html#">
                                <h6>Welcome to the Community!</h6>
                                <div>Hi, welcome to the my app...</div>
                                <div>
                                    Message text
                                </div>
                            </a>
                            <a href="index.html#" class="reply-all">Reply all</a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <h6>Welcome to the Community!</h6>
                                <div>Hi, welcome to the my app...</div>
                                <div>
                                    Message text
                                </div>
                            </a>
                            <a href="index.html#" class="reply-all">Reply all</a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <h6>Welcome to the Community!</h6>
                                <div>Hi, welcome to the my app...</div>
                                <div>
                                    Message text
                                </div>
                            </a>
                            <a href="index.html#" class="reply-all">Reply all</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="add">
                <div class="control-item-header">
                    <a href="index.html#" class="icon-toggle no-caret">
                        <span class="icon fa fa-plus"></span>
                    </a>
                </div>
            </li>
        </ul>
        <a class="control-panel-toggle">
            <span class="fa fa-angle-double-left"></span>
        </a>
    </div>
    <script src="~/StartUI/js/lib/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/StartUI/js/lib/popper/popper.min.js"></script>
    <script src="~/StartUI/js/lib/tether/tether.min.js"></script>
    <script src="~/StartUI/js/lib/bootstrap/bootstrap.min.js"></script>
    <script src="~/StartUI/js/plugins.js"></script>
    <script type="text/javascript" src="~/StartUI/js/lib/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/StartUI/js/lib/lobipanel/lobipanel.min.js"></script>
    <script type="text/javascript" src="~/StartUI/js/lib/match-height/jquery.matchHeight.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Toastr -->
<script src="~/Content/toastr.min.js"></script>
<script src="~/StartUI/js/lib/summernote/summernote.min.js"></script>

<script>
    $(document).ready(function () {

        $('.summernote').summernote();
    });
</script>
    <script src="~/StartUI/js/lib/datatables-net/datatables.min.js"></script>
    <script src="~/StartUI/js/app.js"></script>
    @RenderSection("scripts", required: false)

</body>

</html>