@using Microsoft.AspNet.Identity
@using SwiftSkool.Models
@using SwiftSkoolv1.WebUI.ViewModels
@{
    BaseViewModel Model = (BaseViewModel)ViewBag.LayoutViewModel;
    
}
<!DOCTYPE html>
<html ng-app lang="en">
<head>
    <title>@Model.Alias</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->
    <!-- BEGIN STYLESHEETS -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fullcalendarcss")
   
   
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/datatables")

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

  

    @*@{
        var schooltheme = @System.Configuration.ConfigurationManager.AppSettings["SchoolTheme"];
    }*@
    @if (@Model.Color == "LightBlue")
    {
        <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-1/bootstrap.css?1422792965" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-1/materialadmin.css?1425466319" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-1/font-awesome.min.css?1422529194" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-1/material-design-iconic-font.min.css?1421434286" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-1/libs/summernote/summernote.css?1425218701" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-1/libs/rickshaw/rickshaw.css?1422792967" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-1/libs/morris/morris.core.css?1420463396" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-1/libs/jquery-ui/jquery-ui-theme.css?1423393666" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-1/libs/fullcalendar/fullcalendar.css?1425466619" />
    }
    else if (@Model.Color == "LightRed")
    {
        <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-2/bootstrap.css?1422792965" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-2/materialadmin.css?1425466319" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-2/font-awesome.min.css?1422529194" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-2/material-design-iconic-font.min.css?1421434286" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-2/libs/summernote/summernote.css?1425218701" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-2/libs/rickshaw/rickshaw.css?1422792967" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-2/libs/morris/morris.core.css?1420463396" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-2/libs/jquery-ui/jquery-ui-theme.css?1423393666" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-2/libs/fullcalendar/fullcalendar.css?1425466619" />
    }
    else if (@Model.Color == "NavyBlue")
    {
        <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-3/bootstrap.css?1422792965" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-3/materialadmin.css?1425466319" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-3/font-awesome.min.css?1422529194" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-3/material-design-iconic-font.min.css?1421434286" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-3/libs/summernote/summernote.css?1425218701" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-3/libs/rickshaw/rickshaw.css?1422792967" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-3/libs/morris/morris.core.css?1420463396" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-3/libs/jquery-ui/jquery-ui-theme.css?1423393666" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-3/libs/fullcalendar/fullcalendar.css?1425466619" />
    }
    else if (@Model.Color == "ArmyGreen")
    {
        <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-4/bootstrap.css?1422792965"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-4/materialadmin.css?1425466319"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-4/font-awesome.min.css?1422529194"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-4/material-design-iconic-font.min.css?1421434286"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-4/libs/summernote/summernote.css?1425218701"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-4/libs/rickshaw/rickshaw.css?1422792967"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-4/libs/morris/morris.core.css?1420463396"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-4/libs/jquery-ui/jquery-ui-theme.css?1423393666" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-4/libs/fullcalendar/fullcalendar.css?1425466619" />
    }
    else if (@Model.Color == "DeepRed")
    {
        <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-5/bootstrap.css?1422792965"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-5/materialadmin.css?1425466319"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-5/font-awesome.min.css?1422529194"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-5/material-design-iconic-font.min.css?1421434286"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-5/libs/summernote/summernote.css?1425218701"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-5/libs/rickshaw/rickshaw.css?1422792967"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-5/libs/morris/morris.core.css?1420463396"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-5/libs/jquery-ui/jquery-ui-theme.css?1423393666" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-5/libs/fullcalendar/fullcalendar.css?1425466619" />
    }
    else
    {
        <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/bootstrap.css?1422792965"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/materialadmin.css?1425466319"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/font-awesome.min.css?1422529194"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/material-design-iconic-font.min.css?1421434286"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/libs/summernote/summernote.css?1425218701"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/libs/rickshaw/rickshaw.css?1422792967"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/libs/morris/morris.core.css?1420463396"/>
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/libs/jquery-ui/jquery-ui-theme.css?1423393666" />
        <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/libs/fullcalendar/fullcalendar.css?1425466619" />
    }


    @*<link href="~/Content/chosen.css" rel="stylesheet" />*@

 
    <!-- END STYLESHEETS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/assets/js/libs/utils/html5shiv.js?1403934957"></script>
    <script type="text/javascript" src="~/assets/js/libs/utils/respond.min.js?1403934956"></script>
    <![endif]-->
</head>
<body class="menubar-hoverable header-fixed menubar-pin ">

    <!-- BEGIN HEADER-->
    <header id="header">
        <div class="headerbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="headerbar-left">
                <ul class="header-nav header-nav-options">
                    <li class="header-nav-brand">
                        <div class="brand-holder">
                            <a href="#">
                                @*@{
                                    var schoolImage = @System.Configuration.ConfigurationManager.AppSettings["SchoolImage"];
                                }*@
                                <img class="img-circle" src="@Url.Action("RenderImage","Schools", new { studentId = Model.SchoolId})" width="50" height="100" />
                                @*<img class="img-circle" src="~/Content/Images/@schoolImage" />*@
                                <span class="text-lg text-bold text-primary">@Model.SchoolName</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="headerbar-right">
                <ul class="header-nav header-nav-options">
                        @if (!Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        }
                    </ul><!--end .header-nav-options -->
                    <ul class="header-nav header-nav-profile">

                        @if (Request.IsAuthenticated)
                        {
                            <li>
                                    @if (User.IsInRole("Teacher"))
                                    {
                                       
                                        <span class="profile-info">
                                            Hi, Staff
                                            <small>@User.Identity.GetUserName()</small>
                                        </span>
                                    }
                                    else if (User.IsInRole("Student"))
                                    {
                                       
                                        <span class="profile-info">
                                            Hi, Student
                                            <small>@User.Identity.GetUserName()</small>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="profile-info">
                                            Hi,
                                            <small>@User.Identity.GetUserName()</small>
                                        </span>
                                    }
                              
                            </li><!--end .dropdown -->
                            <li>  
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                  {
                                      @Html.AntiForgeryToken()
                                    
                                      <a href="javascript:document.getElementById('logoutForm').submit()"> <i class="fa fa-fw fa-power-off text-danger"></i> Logout</a>
                                  }
                            </li>
                        }
                       
                    </ul><!--end .header-nav-profile -->
                  
              
                 
                    <!--end .header-nav-options -->
</div><!--end #header-navbar-collapse -->
        </div>

    </header>
    <!-- END HEADER-->
    <!-- BEGIN BASE-->
    <div id="base">

        <!-- BEGIN OFFCANVAS LEFT -->
        <div class="offcanvas">
        </div><!--end .offcanvas-->
        <!-- END OFFCANVAS LEFT -->
        <!-- BEGIN CONTENT-->
        <div id="content">

            <!-- BEGIN BLANK SECTION -->
            <section>
              
                <div class="section-body">
                    <!-- BEGIN SIMPLE MODAL MARKUP -->
                    @*<div class="modal fade" id="simpleModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="simpleModalLabel">@TempData["Title"]</h4>
                                </div>
                                <div class="modal-body">
                                    @if (TempData["Title"] != null && TempData["Title"].ToString() == "Success.")
                                    {
                                        <p class="alert alert-success">@TempData["UserMessage"]</p>
                                    }
                                    else
                                    {
                                        <p class="alert alert-danger">@TempData["UserMessage"]</p>
                                    }

                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>*@<!-- /.modal -->
                    <!-- END SIMPLE MODAL MARKUP -->
                 @*@if (TempData["UserMessage"] != null)
                 {
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@TempData["UserMessage"]</strong>
                    </div>
                 }*@
              
                    @RenderBody()

                    <hr/>
                </div><!--end .section-body -->
            </section>

            <!-- BEGIN BLANK SECTION -->
        </div><!--end #content-->
        <!-- END CONTENT -->
        <!-- BEGIN MENUBAR-->
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
        <!-- BEGIN MENUBAR-->
            <div id="menubar" class="menubar-inverse ">
                <div class="menubar-fixed-panel">
                    <div>
                        <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="expanded">
                        <a href="#">
                            <span class="text-lg text-bold text-primary">KINGS AND QUEENS</span>
                        </a>
                    </div>
                </div>

                <div class="menubar-scroll-panel">

                    <!-- BEGIN MAIN MENU -->
                    <ul id="main-menu" class="gui-controls">

                        <!-- BEGIN DASHBOARD -->
                        <li>
                            <a href="@Url.Action("DashBoard","Students")">
                                <div class="gui-icon"><i class="md md-home"></i></div>
                                <span class="title">Admin Dashboard</span>
                            </a>
                        </li><!--end /menu-li -->
                        <!-- END DASHBOARD -->
                        <!-- BEGIN Student Management -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-person"></i></div>
                                <span class="title">Manage Student</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("Add Student", "RegisterStudent", "Account")</li>
                                <li>@Html.ActionLink("List Students", "Index", "Students")</li>
                                <li>@Html.ActionLink("Excel Upload", "UpLoadStudent", "Account")</li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END student Management -->
                        <!-- BEGIN Guardian Management -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-verified-user"></i></div>
                                <span class="title">Manage Guardian</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("Add Guardian", "Create", "Guardians")</li>
                                <li>@Html.ActionLink("List Guardians", "Index", "Guardians")</li>
                                <li>@Html.ActionLink("Excel Upload", "UpLoadGuardian", "Guardians")</li>
                               
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END Guardian Management -->
                        <!-- BEGIN CLASS -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-class"></i></div>
                                <span class="title">Manage Class</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("Add Class", "Create", "Classes")</li>
                                <li>@Html.ActionLink("List Classes", "Index", "Classes")</li>
                                <li>@Html.ActionLink("Assign Student to Class", "Create", "AssignedClasses")</li>
                                <li>@Html.ActionLink("View Student in Class", "Index", "AssignedClasses")</li>
                            </ul>
                        </li><!--end /menu-li -->
                        <!-- END CLASS -->
                        <!-- BEGIN SUBJECT -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-subject"></i></div>
                                <span class="title">Manage Subject</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Subject</span>
                                    </a>
                                    <!--start Subject  -->
                                    <ul>
                                        <li>@Html.ActionLink("Add Subject", "Create", "Subjects")</li>
                                        <li>@Html.ActionLink("List Subjects", "Index", "Subjects")</li>
                                    </ul><!--end /Subject -->
                                </li>
                                @*<li class="gui-folder">
                                        <a href="javascript:void(0);">
                                            <span class="title">Subject Category</span>
                                        </a>
                                        <!--start Subject Category -->
                                        <ul>
                                            <li>@Html.ActionLink("Add Subject Category", "Create", "SubjectCategories")</li>
                                            <li>@Html.ActionLink("View Categories", "Index", "SubjectCategories")</li>
                                        </ul><!--end /Subject Category -->
                                    </li>*@

                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Assign Subject</span>
                                    </a>
                                    <!--start Subject  -->
                                    <ul>
                                        <li>@Html.ActionLink("Assign Subject to Class", "Create", "AssignSubjects")</li>
                                        <li>@Html.ActionLink("View Assigned Subjects", "Index", "AssignSubjects")</li>
                                        <li><a href="#"><strong></strong></a></li>
                                        <li>@Html.ActionLink("Assign Subject to Student", "Create", "SubjectRegistrations")</li>
                                        <li>@Html.ActionLink("View Assigned Student Subjects", "Index", "SubjectRegistrations")</li>
                                    </ul><!--end /Subject -->
                                </li>


                                <li>@Html.ActionLink("Subject Teacher", "Index", "AssignSubjectTeachers")</li>
                            </ul>
                        </li><!--end /menu-li -->
                        <!-- END SUBJECT -->
                        <!-- BEGIN Staff Management -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-account-box"></i></div>
                                <span class="title">Manage Teacher</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("Add Teacher", "RegisterStaff", "Account")</li>
                                <li>@Html.ActionLink("Teacher Master", "Index", "Staffs")</li>
                                @*<li>@Html.ActionLink("Edit Teacher", "Index", "Staffs")</li>*@
                               <li>@Html.ActionLink("Assign Subject Teacher", "Create", "AssignSubjectTeachers")</li>
                                @*<li>@Html.ActionLink("List Subject Teacher", "Create", "AssignSubjectTeachers")</li>*@
                                <li>@Html.ActionLink("List Form-Teacher", "Index", "AssignFormTeacherToClasses")</li>
                                <li>@Html.ActionLink("Teacher Excel Upload", "UploadTeacher", "Account")</li>

                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END Staff Management -->
                        <!-- BEGIN FEE MANAGER -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-account-balance-wallet "></i></div>
                                <span class="title">Manage Fees</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Fee Type</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li>@Html.ActionLink("Add Fees Type", "Create", "FeeTypes")</li>
                                        <li>@Html.ActionLink("List Fees Types", "Index", "FeeTypes")</li>
                                    </ul><!--end /submenu -->
                                </li>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Fee Payment</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li>@Html.ActionLink("Fee Payment", "Create", "FeePayments")</li>
                                        <li>@Html.ActionLink("Update Payment", "Index", "FeePayments")</li>
                                        <li>@Html.ActionLink("Debtors List", "DebtorsList", "FeePayments")</li>
                                        @*<li>@Html.ActionLink("Total Income", "DeliveredList", "FeePayments")</li>*@
                                    </ul><!--end /submenu -->
                                </li>

                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END FEE MANAGER -->
                        <!-- BEGIN TABLES -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-assessment"></i></div>
                                <span class="title">Manage Result</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Behavioral</span>
                                    </a>
                                    <!--start Continuous Assessments -->
                                    <ul>
                                        <li>@Html.ActionLink("Add Behavioral", "Create", "AssignBehaviors")</li>
                                        <li>@Html.ActionLink("List  Behavioral Assesment", "Index", "AssignBehaviors")</li>
                                    </ul><!--end /Continuous Assessments -->
                                </li>

                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Continuous Assessments</span>
                                    </a>
                                    <!--start Continuous Assessments -->
                                    <ul>
                                        <li>@Html.ActionLink("Add Continuous Assessments", "Create", "ContinuousAssessments")</li>
                                        <li>@Html.ActionLink("List Continuous Assessments", "Index", "ContinuousAssessments")</li>
                                        <li>@Html.ActionLink("Excel Upload", "UploadResult", "ContinuousAssessments")</li>
                                    </ul><!--end /Continuous Assessments -->
                                </li>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Compute Result</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li>@Html.ActionLink("Create Result", "Create", "Results")</li>
                                        <li>@Html.ActionLink("View Result", "Index", "Results")</li>
                                        @*<li>@Html.ActionLink("Aggregate Position", "TotalPostion", "Grades")</li>
                                            <li>@Html.ActionLink("Upload Result", "UploadResult", "Grades")</li>*@
                                    </ul><!--end /submenu -->
                                </li>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Compute Summary Total</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li>@Html.ActionLink("Compute Summary", "Create", "SummaryScore")</li>
                                        <li>@Html.ActionLink("View Summary", "Index", "SummaryScore")</li>
                                        @*<li>@Html.ActionLink("Aggregate Position", "TotalPostion", "Grades")</li>
                                            <li>@Html.ActionLink("Upload Result", "UploadResult", "Grades")</li>*@
                                    </ul><!--end /submenu -->
                                </li>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Compute Summary Report</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li>@Html.ActionLink("Compute Report", "Create", "ResultSummary")</li>
                                        <li>@Html.ActionLink("View Reports", "Index", "ResultSummary")</li>
                                        @*<li>@Html.ActionLink("Aggregate Position", "TotalPostion", "Grades")</li>
                                            <li>@Html.ActionLink("Upload Result", "UploadResult", "Grades")</li>*@
                                    </ul><!--end /submenu -->
                                </li>
                            </ul>
                        </li><!--end /menu-li -->
                        <!-- END TABLES -->
                        <!-- BEGIN ARTICLES -->
                            <li class="gui-folder">
                                <a>
                                    <div class="gui-icon"><i class="fa fa-table"></i></div>
                                    <span class="title">Article/News</span>
                                </a>
                                <!--start submenu -->
                                <ul>
                                   @*<li>@Html.ActionLink("Schedule", "Create", "SavingsMaintenances")</li>*@
                                    <li>@Html.ActionLink("Add News", "Create", "Posts")</li>
                                    <li>@Html.ActionLink("Search News", "Index", "Posts")</li>

                                    @*<li>@Html.ActionLink("Upload Pictures", "Index", "SavingsMaintenances")</li>
                                    <li>@Html.ActionLink("Upload Videos", "Index", "SavingsMaintenances")</li>*@
                                </ul><!--end /submenu -->
                            </li><!--end /menu-li -->
                            <!-- END ARTICLES -->
                        <!-- BEGIN LIBRARY -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-my-library-add"></i></div>
                                <span class="title">Library Management</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("Add Book", "Create", "Books")</li>
                                <li>@Html.ActionLink("Search Book", "Index", "Books")</li>
                                <li>@Html.ActionLink("Issue Book", "Create", "BookIssues")</li>
                                <li>@Html.ActionLink("Borrowed Book", "Index", "BookIssues")</li>
                                <li>@Html.ActionLink("Returned Book", "Index", "BookIssues")</li>

                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END LIBRARY -->
                        <!-- BEGIN SMS -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-message"></i></div>
                                <span class="title">SMS Management</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("Send to Class", "SendSMS", "Sms")</li>
                                <li>@Html.ActionLink("Send to Staff", "SendToStaff", "Sms")</li>
                                <li>@Html.ActionLink("Send to Parents", "SendToAllStudent", "Sms")</li>
                                @*<li>@Html.ActionLink("Search Book", "Index", "Books")</li>*@


                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END SMS -->
                        <!-- BEGIN MANAGE SCHOOL -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-school"></i></div>
                                <span class="title">Manage School</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                               
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">CA SetUp</span>
                                    </a>
                                    <!--start Session -->
                                    <ul>
                                        <li>@Html.ActionLink("Add CA", "Create", "CaSetUps")</li>
                                        <li>@Html.ActionLink("View CA", "Index", "CaSetUps")</li>

                                    </ul><!--end /Session -->
                                </li>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Behavior Category</span>
                                    </a>
                                    <!--start Session -->
                                    <ul>
                                        <li>@Html.ActionLink("Add Behavior Category", "Create", "BehaviorSkillCategories")</li>
                                        <li>@Html.ActionLink("List Behavioral Category", "Index", "BehaviorSkillCategories")</li>

                                    </ul><!--end /Session -->
                                </li>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Behaviors</span>
                                    </a>
                                    <!--start Session -->
                                    <ul>
                                        <li>@Html.ActionLink("Add Behavioural Skills", "Create", "BehaviouralSkills")</li>
                                        <li>@Html.ActionLink("List Behavioural Skills", "Index", "BehaviouralSkills")</li>

                                    </ul><!--end /Session -->
                                </li>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Grade Settings</span>
                                    </a>
                                    <!--start Continuous Assessments -->
                                    <ul>
                                        <li>@Html.ActionLink("Add Grade", "Create", "Grades")</li>
                                        <li>@Html.ActionLink("Check Grade", "Index", "Grades")</li>
                                    </ul><!--end /Continuous Assessments -->
                                </li>

                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Termly Report Settings</span>
                                    </a>
                                    <!--start Continuous Assessments -->
                                    <ul>
                                        <li>@Html.ActionLink("Add Report", "Create", "ReportCards")</li>
                                        <li>@Html.ActionLink("List/Edit Report", "Index", "ReportCards")</li>
                                    </ul><!--end /Continuous Assessments -->
                                </li>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Principal Remarks</span>
                                    </a>
                                    <!--start Continuous Assessments -->
                                    <ul>
                                        <li>@Html.ActionLink("Add Principal Remark", "Create", "PrincipalComments")</li>
                                        <li>@Html.ActionLink("Check Principal Remark", "Index", "PrincipalComments")</li>
                                    </ul><!--end /Continuous Assessments -->
                                </li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END TABLES -->
                        <!-- BEGIN LEVELS -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-settings-applications"></i></div>
                                <span class="title">Profile</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("Add User Role", "Create", "RolesAdmin")</li>
                                <li>@Html.ActionLink("Add New User", "RegisterStaff", "Account")</li>
                                <li>@Html.ActionLink("Manage User Role", "ManageUserRoles", "RolesAdmin")</li>
                                <li class="gui-folder">

                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Manage Account</span>
                                    </a>
                                    <!--start Continuous Assessments -->
                                    <ul>
                                        <li>@Html.ActionLink("Settings", "Index", "Manage")</li>
                                        <li>@Html.ActionLink("Change Password", "ChangePassword", "Manage")</li>
                                        <li>@Html.ActionLink("Log Out", "LogOff", "Account")</li>
                                    </ul><!--end /Continuous Assessments -->

                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END LEVELS -->

                    </ul><!--end .main-menu -->
                    <!-- END MAIN MENU -->

                    <div class="menubar-foot-panel">
                        <small class="no-linebreak hidden-folded">
                            <span class="opacity-75">Copyright &copy; @DateTime.Now.Year</span> <strong class="text-danger"> CompunetLimited</strong>
                        </small>
                    </div>
                </div><!--end .menubar-scroll-panel-->
            </div><!--end #menubar-->
        <!-- END MENUBAR -->
        }
    else if (Request.IsAuthenticated && User.IsInRole("SuperAdmin"))
    {
    <!-- BEGIN MENUBAR-->
    <div id="menubar" class="menubar-inverse ">
    <div class="menubar-fixed-panel">
        <div>
            <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="expanded">
            <a href="#">
                <span class="text-lg text-bold text-primary">KINGS AND QUEENS</span>
            </a>
        </div>
    </div>

    <div class="menubar-scroll-panel">

    <!-- BEGIN MAIN MENU -->
    <ul id="main-menu" class="gui-controls">

    <!-- BEGIN DASHBOARD -->
    <li>
        <a href="@Url.Action("DashBoard","Students")">
            <div class="gui-icon"><i class="md md-home"></i></div>
            <span class="title">SuperAdmin Dashboard</span>
        </a>
    </li><!--end /menu-li -->
    <!-- END DASHBOARD -->
    <!-- BEGIN Student Management -->
    <li class="gui-folder">
        <a>
            <div class="gui-icon"><i class="md md-person"></i></div>
            <span class="title">Manage Student</span>
        </a>
        <!--start submenu -->
        <ul>
            <li>@Html.ActionLink("Add Student", "RegisterStudent", "Account")</li>
            <li>@Html.ActionLink("List Students", "Index", "Students")</li>
            <li>@Html.ActionLink("Excel Upload", "UpLoadStudent", "Account")</li>
        </ul><!--end /submenu -->
    </li><!--end /menu-li -->
    <!-- END student Management -->
    <!-- BEGIN Guardian Management -->
    <li class="gui-folder">
        <a>
            <div class="gui-icon"><i class="md md-verified-user"></i></div>
            <span class="title">Manage Guardian</span>
        </a>
        <!--start submenu -->
        <ul>
            <li>@Html.ActionLink("Add Guardian", "Create", "Guardians")</li>
            <li>@Html.ActionLink("List Guardians", "Index", "Guardians")</li>
            <li>@Html.ActionLink("Excel Upload", "UpLoadGuardian", "Guardians")</li>
                               
        </ul><!--end /submenu -->
    </li><!--end /menu-li -->
    <!-- END Guardian Management -->
    <!-- BEGIN CLASS -->
    <li class="gui-folder">
        <a>
            <div class="gui-icon"><i class="md md-class"></i></div>
            <span class="title">Manage Class</span>
        </a>
        <!--start submenu -->
        <ul>
            <li>@Html.ActionLink("Add Class", "Create", "Classes")</li>
            <li>@Html.ActionLink("List Classes", "Index", "Classes")</li>
            <li>@Html.ActionLink("Assign Student to Class", "Create", "AssignedClasses")</li>
            <li>@Html.ActionLink("View Student in Class", "Index", "AssignedClasses")</li>
        </ul>
    </li><!--end /menu-li -->
    <!-- END CLASS -->
    <!-- BEGIN SUBJECT -->
    <li class="gui-folder">
        <a>
            <div class="gui-icon"><i class="md md-subject"></i></div>
            <span class="title">Manage Subject</span>
        </a>
        <!--start submenu -->
        <ul>
            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">Subject</span>
                </a>
                <!--start Subject  -->
                <ul>
                    <li>@Html.ActionLink("Add Subject", "Create", "Subjects")</li>
                    <li>@Html.ActionLink("List Subjects", "Index", "Subjects")</li>
                </ul><!--end /Subject -->
            </li>
            @*<li class="gui-folder">
                                        <a href="javascript:void(0);">
                                            <span class="title">Subject Category</span>
                                        </a>
                                        <!--start Subject Category -->
                                        <ul>
                                            <li>@Html.ActionLink("Add Subject Category", "Create", "SubjectCategories")</li>
                                            <li>@Html.ActionLink("View Categories", "Index", "SubjectCategories")</li>
                                        </ul><!--end /Subject Category -->
                                    </li>*@

            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">Assign Subject</span>
                </a>
                <!--start Subject  -->
                <ul>
                    <li>@Html.ActionLink("Assign Subject to Class", "Create", "AssignSubjects")</li>
                    <li>@Html.ActionLink("View Assigned Subjects", "Index", "AssignSubjects")</li>
                    <li><a href="#"><strong></strong></a></li>
                    <li>@Html.ActionLink("Assign Subject to Student", "Create", "SubjectRegistrations")</li>
                    <li>@Html.ActionLink("View Assigned Student Subjects", "Index", "SubjectRegistrations")</li>
                </ul><!--end /Subject -->
            </li>


            <li>@Html.ActionLink("Subject Teacher", "Index", "AssignSubjectTeachers")</li>
        </ul>
    </li><!--end /menu-li -->
    <!-- END SUBJECT -->
    <!-- BEGIN Staff Management -->
    <li class="gui-folder">
        <a>
            <div class="gui-icon"><i class="md md-account-box"></i></div>
            <span class="title">Manage Teacher</span>
        </a>
        <!--start submenu -->
        <ul>
            <li>@Html.ActionLink("Add Teacher", "RegisterStaff", "Account")</li>
            <li>@Html.ActionLink("Teacher Master", "Index", "Staffs")</li>
            @*<li>@Html.ActionLink("Edit Teacher", "Index", "Staffs")</li>*@
            <li>@Html.ActionLink("Assign Subject Teacher", "Create", "AssignSubjectTeachers")</li>
            @*<li>@Html.ActionLink("List Subject Teacher", "Create", "AssignSubjectTeachers")</li>*@
            <li>@Html.ActionLink("List Form-Teacher", "Index", "AssignFormTeacherToClasses")</li>
            <li>@Html.ActionLink("Teacher Excel Upload", "UploadTeacher", "Account")</li>

        </ul><!--end /submenu -->
    </li><!--end /menu-li -->
    <!-- END Staff Management -->
    <!-- BEGIN FEE MANAGER -->
    <li class="gui-folder">
        <a>
            <div class="gui-icon"><i class="md md-account-balance-wallet "></i></div>
            <span class="title">Manage Fees</span>
        </a>
        <!--start submenu -->
        <ul>
            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">Fee Type</span>
                </a>
                <!--start submenu -->
                <ul>
                    <li>@Html.ActionLink("Add Fees Type", "Create", "FeeTypes")</li>
                    <li>@Html.ActionLink("List Fees Types", "Index", "FeeTypes")</li>
                </ul><!--end /submenu -->
            </li>
            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">Fee Payment</span>
                </a>
                <!--start submenu -->
                <ul>
                    <li>@Html.ActionLink("Fee Payment", "Create", "FeePayments")</li>
                    <li>@Html.ActionLink("Update Payment", "Index", "FeePayments")</li>
                    <li>@Html.ActionLink("Debtors List", "DebtorsList", "FeePayments")</li>
                    @*<li>@Html.ActionLink("Total Income", "DeliveredList", "FeePayments")</li>*@
                </ul><!--end /submenu -->
            </li>

        </ul><!--end /submenu -->
    </li><!--end /menu-li -->
    <!-- END FEE MANAGER -->
    <!-- BEGIN TABLES -->
    <li class="gui-folder">
        <a>
            <div class="gui-icon"><i class="md md-assessment"></i></div>
            <span class="title">Manage Result</span>
        </a>
        <!--start submenu -->
        <ul>
                                
            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">Behavioral</span>
                </a>
                <!--start Continuous Assessments -->
                <ul>
                    <li>@Html.ActionLink("Add Behavioral", "Create", "AssignBehaviors")</li>
                    <li>@Html.ActionLink("List  Behavioral Assesment", "Index", "AssignBehaviors")</li>
                </ul><!--end /Continuous Assessments -->
            </li>

            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">Continuous Assessments</span>
                </a>
                <!--start Continuous Assessments -->
                <ul>
                    <li>@Html.ActionLink("Add Continuous Assessments", "Create", "ContinuousAssessments")</li>
                    <li>@Html.ActionLink("List Continuous Assessments", "Index", "ContinuousAssessments")</li>
                    <li>@Html.ActionLink("Excel Upload", "UploadResult", "ContinuousAssessments")</li>
                </ul><!--end /Continuous Assessments -->
            </li>
            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">Compute Result</span>
                </a>
                <!--start submenu -->
                <ul>
                    <li>@Html.ActionLink("Create Result", "Create", "Results")</li>
                    <li>@Html.ActionLink("View Result", "Index", "Results")</li>
                    @*<li>@Html.ActionLink("Aggregate Position", "TotalPostion", "Grades")</li>
                                            <li>@Html.ActionLink("Upload Result", "UploadResult", "Grades")</li>*@
                </ul><!--end /submenu -->
            </li>
            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">Compute Summary Total</span>
                </a>
                <!--start submenu -->
                <ul>
                    <li>@Html.ActionLink("Compute Summary", "Create", "SummaryScore")</li>
                    <li>@Html.ActionLink("View Summary", "Index", "SummaryScore")</li>
                    @*<li>@Html.ActionLink("Aggregate Position", "TotalPostion", "Grades")</li>
                                            <li>@Html.ActionLink("Upload Result", "UploadResult", "Grades")</li>*@
                </ul><!--end /submenu -->
            </li>
            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">Compute Summary Report</span>
                </a>
                <!--start submenu -->
                <ul>
                    <li>@Html.ActionLink("Compute Report", "Create", "ResultSummary")</li>
                    <li>@Html.ActionLink("View Reports", "Index", "ResultSummary")</li>
                    @*<li>@Html.ActionLink("Aggregate Position", "TotalPostion", "Grades")</li>
                                            <li>@Html.ActionLink("Upload Result", "UploadResult", "Grades")</li>*@
                </ul><!--end /submenu -->
            </li>
        </ul>
    </li><!--end /menu-li -->
    <!-- END TABLES -->
    <!-- BEGIN ARTICLES -->
    <li class="gui-folder">
        <a>
            <div class="gui-icon"><i class="fa fa-table"></i></div>
            <span class="title">Article/News</span>
        </a>
        <!--start submenu -->
        <ul>
            @*<li>@Html.ActionLink("Schedule", "Create", "SavingsMaintenances")</li>*@
            <li>@Html.ActionLink("Add News", "Create", "Posts")</li>
            <li>@Html.ActionLink("Search News", "Index", "Posts")</li>

            @*<li>@Html.ActionLink("Upload Pictures", "Index", "SavingsMaintenances")</li>
                                    <li>@Html.ActionLink("Upload Videos", "Index", "SavingsMaintenances")</li>*@
        </ul><!--end /submenu -->
    </li><!--end /menu-li -->
    <!-- END ARTICLES -->
 
    <!-- BEGIN SMS -->
    <li class="gui-folder">
        <a>
            <div class="gui-icon"><i class="md md-message"></i></div>
            <span class="title">SMS Management</span>
        </a>
        <!--start submenu -->
        <ul>
            <li>@Html.ActionLink("Send to Class", "SendSMS", "Sms")</li>
            <li>@Html.ActionLink("Send to Staff", "SendToStaff", "Sms")</li>
            <li>@Html.ActionLink("Send to Parents", "SendToAllStudent", "Sms")</li>
            @*<li>@Html.ActionLink("Search Book", "Index", "Books")</li>*@


        </ul><!--end /submenu -->
    </li><!--end /menu-li -->
    <!-- END SMS -->
    <!-- BEGIN MANAGE SCHOOL -->
    <li class="gui-folder">
        <a>
            <div class="gui-icon"><i class="md md-school"></i></div>
            <span class="title">Manage Schools</span>
        </a>
        <!--start submenu -->
        <ul>
            
            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">Schools</span>
                </a>
                <!--start Session -->
                <ul>
                    <li>@Html.ActionLink("Add School", "Create", "Schools")</li>
                    <li>@Html.ActionLink("View Schools", "Index", "Schools")</li>

                </ul><!--end /Session -->
            </li>
        
            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">School Admin</span>
                </a>
                <!--start Session -->
                <ul>
                    <li>@Html.ActionLink("Add/Register Admin", "RegisterAdmin", "Account")</li>
                    <li><a href="#">List/Search Admin</a></li>

                </ul><!--end /Session -->
            </li>
            @*<li>@Html.ActionLink("Set School Name", "SchoolSetUp", "Home")</li>*@
            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">School Class</span>
                </a>
                <!--start Session -->
                <ul>
                    <li>@Html.ActionLink("Add School Class", "Create", "SchoolClasses")</li>
                    <li>@Html.ActionLink("List School Class", "Index", "SchoolClasses")</li>

                </ul><!--end /Session -->
            </li>
            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">Session</span>
                </a>
                <!--start Session -->
                <ul>
                    <li>@Html.ActionLink("Add Sessions", "Create", "Sessions")</li>
                    <li>@Html.ActionLink("List Sessions", "Index", "Sessions")</li>

                </ul><!--end /Session -->
            </li>
            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">School Term</span>
                </a>
                <!--start Session -->
                <ul>
                    <li>@Html.ActionLink("Add Term", "Create", "Terms")</li>
                    <li>@Html.ActionLink("List Term", "Index", "Terms")</li>

                </ul><!--end /Session -->
            </li>
           
            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">Behaviors</span>
                </a>
                <!--start Session -->
                <ul>
                    <li>@Html.ActionLink("Add Behavioural Skills", "Create", "BehaviouralSkills")</li>
                    <li>@Html.ActionLink("List Behavioural Skills", "Index", "BehaviouralSkills")</li>

                </ul><!--end /Session -->
            </li>
            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">Grade Settings</span>
                </a>
                <!--start Continuous Assessments -->
                <ul>
                    <li>@Html.ActionLink("Add Grade", "Create", "Grades")</li>
                    <li>@Html.ActionLink("Check Grade", "Index", "Grades")</li>
                </ul><!--end /Continuous Assessments -->
            </li>

            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">Termly Report Settings</span>
                </a>
                <!--start Continuous Assessments -->
                <ul>
                    <li>@Html.ActionLink("Add Report", "Create", "ReportCards")</li>
                    <li>@Html.ActionLink("List/Edit Report", "Index", "ReportCards")</li>
                </ul><!--end /Continuous Assessments -->
            </li>
            <li class="gui-folder">
                <a href="javascript:void(0);">
                    <span class="title">Principal Remarks</span>
                </a>
                <!--start Continuous Assessments -->
                <ul>
                    <li>@Html.ActionLink("Add Principal Remark", "Create", "PrincipalComments")</li>
                    <li>@Html.ActionLink("Check Principal Remark", "Index", "PrincipalComments")</li>
                </ul><!--end /Continuous Assessments -->
            </li>
        </ul><!--end /submenu -->
    </li><!--end /menu-li -->
    <!-- END TABLES -->
    <!-- BEGIN LEVELS -->
    <li class="gui-folder">
        <a>
            <div class="gui-icon"><i class="md md-settings-applications"></i></div>
            <span class="title">Profile</span>
        </a>
        <!--start submenu -->
        <ul>
            <li>@Html.ActionLink("Add User Role", "Create", "RolesAdmin")</li>
            <li>@Html.ActionLink("Add New User", "RegisterStaff", "Account")</li>
            <li>@Html.ActionLink("Manage User Role", "ManageUserRoles", "RolesAdmin")</li>
            <li class="gui-folder">

            <li class="gui-folder">
            <a href="javascript:void(0);">
                <span class="title">Manage Account</span>
            </a>
            <!--start Continuous Assessments -->
            <ul>
                <li>@Html.ActionLink("Settings", "Index", "Manage")</li>
                <li>@Html.ActionLink("Change Password", "ChangePassword", "Manage")</li>
                <li>@Html.ActionLink("Log Out", "LogOff", "Account")</li>
            </ul><!--end /Continuous Assessments -->

        </ul><!--end /submenu -->
    </li><!--end /menu-li -->
    <!-- END LEVELS -->

    </ul><!--end .main-menu -->
    <!-- END MAIN MENU -->

    <div class="menubar-foot-panel">
        <small class="no-linebreak hidden-folded">
            <span class="opacity-75">Copyright &copy; @DateTime.Now.Year</span> <strong class="text-danger"> CompunetLimited</strong>
        </small>
    </div>
    </div><!--end .menubar-scroll-panel-->
    </div><!--end #menubar-->
    <!-- END MENUBAR -->
    }
        else if (Request.IsAuthenticated && User.IsInRole("Student"))
        {
             <!-- BEGIN MENUBAR-->
            <div id="menubar" class="menubar-inverse ">
                <div class="menubar-fixed-panel">
                    <div>
                        <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="expanded">
                        <a href="#">
                            <span class="text-lg text-bold text-primary "></span>
                        </a>
                    </div>
                </div>

                <div class="menubar-scroll-panel">

                    <!-- BEGIN MAIN MENU -->
                    <ul id="main-menu" class="gui-controls">

                        <!-- BEGIN DASHBOARD -->
                        <li>
                            <a href="@Url.Action("Dashboard","Students")">
                                <div class="gui-icon"><i class="md md-home"></i></div>
                                <span class="title">Student Dashboard</span>
                            </a>
                        </li><!--end /menu-li -->
                        <!-- END DASHBOARD -->
                        <!-- BEGIN EMAIL -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-account-box"></i></div>
                                <span class="title">Student Management</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("My Profile", "Details", "Students")</li>
                               
                            </ul>


                            <!-- BEGIN DASHBOARD -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-account-box"></i></div>
                                <span class="title">Subject Master</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("Subject Teacher", "Index", "Subjects")</li>
                            </ul>
                        </li><!--end /menu-li -->
                        <!-- END DASHBOARD -->
                        <!-- BEGIN TABLES -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="fa fa-table"></i></div>
                                <span class="title">Result Pool</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("Check Result", "Create", "Grades")</li>
                                <li>@Html.ActionLink("Search Result", "Index", "Grades")</li>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Positions</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li>@Html.ActionLink("Subject Positions", "StudentIndex", "ContinuousAssessments")</li>
                                       
                                    </ul><!--end /submenu -->
                                </li>
                            </ul>
                        </li><!--end /menu-li -->
                        <!-- END TABLES -->
                        <!-- BEGIN TABLES -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="fa fa-table"></i></div>
                                <span class="title">Article/News</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("Current News", "Index", "Posts")</li>
                               
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END TABLES -->
                       
                        <!-- BEGIN LEVELS -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                                <span class="title">Profile</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("Settings", "Index", "Manage")</li>
                                <li>@Html.ActionLink("Change Password", "ChangePassword", "Manage")</li>
                               
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END LEVELS -->

                    </ul><!--end .main-menu -->
                    <!-- END MAIN MENU -->
                    <div class="menubar-foot-panel">
                        <small class="no-linebreak hidden-folded">
                            <span class="opacity-75">Copyright &copy; @DateTime.Now.Year</span> <strong class="text-danger"> CompunetLimited</strong>
                        </small>
                    </div>

                </div><!--end .menubar-scroll-panel-->
            </div><!--end #menubar-->
        <!-- END MENUBAR -->
        }
        else if (Request.IsAuthenticated && User.IsInRole("Form-Teacher"))
        {
            <!-- BEGIN MENUBAR-->
            <div id="menubar" class="menubar-inverse ">
                <div class="menubar-fixed-panel">
                    <div>
                        <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="expanded">
                        <a href="#">
                            <span class="text-lg text-bold text-primary ">)</span>
                        </a>
                    </div>
                </div>

                <div class="menubar-scroll-panel">

                    <!-- BEGIN MAIN MENU -->
                    <ul id="main-menu" class="gui-controls">

                        <!-- BEGIN DASHBOARD -->
                        <li>
                            <a href="@Url.Action("DashBoard","Students")">
                                <div class="gui-icon"><i class="md md-home"></i></div>
                                <span class="title">Form Teacher's Dashboard</span>
                            </a>
                        </li><!--end /menu-li -->
                        <!-- END DASHBOARD -->
                      
                        <!-- BEGIN CLASS -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-class"></i></div>
                                <span class="title">Manage Class</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("Assign Student to Class", "Create", "AssignedClasses")</li>
                                <li>@Html.ActionLink("View Student in Class", "Index", "AssignedClasses")</li>
                            </ul>
                        </li><!--end /menu-li -->
                        <!-- END CLASS -->
                        <!-- BEGIN SUBJECT -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-subject"></i></div>
                                <span class="title">Manage Subject</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                              
                                @*<li class="gui-folder">
                    <a href="javascript:void(0);">
                        <span class="title">Subject Category</span>
                    </a>
                    <!--start Subject Category -->
                    <ul>
                        <li>@Html.ActionLink("Add Subject Category", "Create", "SubjectCategories")</li>
                        <li>@Html.ActionLink("View Categories", "Index", "SubjectCategories")</li>
                    </ul><!--end /Subject Category -->
                </li>*@

                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Assign Subject</span>
                                    </a>
                                    <!--start Subject  -->
                                    <ul>
                                        <li>@Html.ActionLink("Assign Subject to Student", "Create", "SubjectRegistrations")</li>
                                        <li>@Html.ActionLink("View Assigned Student Subjects", "Index", "SubjectRegistrations")</li>
                                    </ul><!--end /Subject -->
                                </li>

                                <li>@Html.ActionLink("Subject Teacher", "Index", "AssignSubjectTeachers")</li>
                            </ul>
                        </li><!--end /menu-li -->
                        <!-- END SUBJECT -->
                  
                        <!-- BEGIN FEE MANAGER -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-account-balance-wallet "></i></div>
                                <span class="title">Manage Fees</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Fee Payment</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li>@Html.ActionLink("Debtors List", "DebtorsList", "FeePayments")</li>
                                    </ul><!--end /submenu -->
                                </li>

                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END FEE MANAGER -->
                        <!-- BEGIN TABLES -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="fa fa-table"></i></div>
                                <span class="title">Manage Result</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                               
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Continuous Assessments</span>
                                    </a>
                                    <!--start Continuous Assessments -->
                                    <ul>
                                        <li>@Html.ActionLink("Add Continuous Assessments", "Create", "ContinuousAssessments")</li>
                                        <li>@Html.ActionLink("List Continuous Assessments", "Index", "ContinuousAssessments")</li>
                                        <li>@Html.ActionLink("Excel Upload", "UploadResult", "ContinuousAssessments")</li>
                                    </ul><!--end /Continuous Assessments -->
                                </li>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Compute Result</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li>@Html.ActionLink("Create Result", "Create", "Results")</li>
                                        <li>@Html.ActionLink("View Result", "Index", "Results")</li>
                                        @*<li>@Html.ActionLink("Aggregate Position", "TotalPostion", "Grades")</li>
                                            <li>@Html.ActionLink("Upload Result", "UploadResult", "Grades")</li>*@
                                    </ul><!--end /submenu -->
                                </li>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Compute Summary Total</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li>@Html.ActionLink("Compute Summary", "Create", "SummaryScore")</li>
                                        <li>@Html.ActionLink("View Summary", "Index", "SummaryScore")</li>
                                        @*<li>@Html.ActionLink("Aggregate Position", "TotalPostion", "Grades")</li>
                                            <li>@Html.ActionLink("Upload Result", "UploadResult", "Grades")</li>*@
                                    </ul><!--end /submenu -->
                                </li>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Compute Summary Report</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li>@Html.ActionLink("Compute Report", "Create", "ResultSummary")</li>
                                        <li>@Html.ActionLink("View Reports", "Index", "ResultSummary")</li>
                                        @*<li>@Html.ActionLink("Aggregate Position", "TotalPostion", "Grades")</li>
                                            <li>@Html.ActionLink("Upload Result", "UploadResult", "Grades")</li>*@
                                    </ul><!--end /submenu -->
                                </li>
                            </ul>
                        </li><!--end /menu-li -->
                       
                       
                        <!-- BEGIN SMS -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="fa fa-table"></i></div>
                                <span class="title">SMS Management</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("Send to Class", "SendSMS", "Sms")</li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END SMS -->
                     
                       

                    </ul><!--end .main-menu -->
                    <!-- END MAIN MENU -->
                    <div class="menubar-foot-panel">
                        <small class="no-linebreak hidden-folded">
                            <span class="opacity-75">Copyright &copy; @DateTime.Now.Year</span> <strong class="text-danger"> CompunetLimited</strong>
                        </small>
                    </div>

                </div><!--end .menubar-scroll-panel-->
            </div><!--end #menubar-->
        <!-- END MENUBAR -->
        }
        else if (Request.IsAuthenticated && User.IsInRole("Teacher"))
        {
             <!-- BEGIN MENUBAR-->
            <div id="menubar" class="menubar-inverse ">
                <div class="menubar-fixed-panel">
                    <div>
                        <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="expanded">
                        <a href="#">
                            <span class="text-lg text-bold text-primary ">)KINGS AND QUEENS</span>
                        </a>
                    </div>
                </div>

                <div class="menubar-scroll-panel">

                    <!-- BEGIN MAIN MENU -->
                    <ul id="main-menu" class="gui-controls">

                        <!-- BEGIN DASHBOARD -->
                        <li>
                            <a href="@Url.Action("DashBoard","Students")">
                                <div class="gui-icon"><i class="md md-home"></i></div>
                                <span class="title">Teacher's Dashboard</span>
                            </a>
                        </li><!--end /menu-li -->
                        <!-- END DASHBOARD -->
                       
                       
                        <!-- BEGIN CLASS -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-account-box"></i></div>
                                <span class="title">Manage Class</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("View Student in Class", "Index", "AssignedClasses")</li>
                            </ul>
                        </li><!--end /menu-li -->
                        <!-- END CLASS -->
                        <!-- BEGIN SUBJECT -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-account-box"></i></div>
                                <span class="title">Manage Subject</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("My Subjects", "Index", "AssignSubjectTeachers")</li>
                            </ul>
                        </li><!--end /menu-li -->
                        <!-- END SUBJECT -->
                       
                        <!-- BEGIN TABLES -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="fa fa-table"></i></div>
                                <span class="title">Manage Result</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("Add Continuous Assessments", "Create", "ContinuousAssessments")</li>
                                <li>@Html.ActionLink("List Continuous Assessments", "Index", "ContinuousAssessments")</li>
                                <li>@Html.ActionLink("Excel Upload", "UploadResult", "ContinuousAssessments")</li>
                             
                               
                            </ul>
                        </li><!--end /menu-li -->
                    
                        <!-- BEGIN ASSIGNMENT -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="fa fa-table"></i></div>
                                <span class="title">Student Assignment</span>
                            </a>
                            <!--start submenu -->
                            <ul>

                                <li><a href="#">View Student Assignment</a></li>
                               
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END ASSIGNMENT -->
                    
                    
                        <!-- BEGIN CBTE -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="fa fa-table"></i></div>
                                <span class="title">CBTE</span>
                            </a>
                            <!--start submenu -->
                            <ul>

                                <li><a href="#">Set Questions</a></li>
                                <li><a href="#">Upload Questions</a></li>

                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END ASSIGNMENT -->
                    
                        <!-- BEGIN ARTICLES -->
        <li class="gui-folder">
            <a>
                <div class="gui-icon"><i class="fa fa-table"></i></div>
                <span class="title">Article/News</span>
            </a>
            <!--start submenu -->
            <ul>
              
                <li>@Html.ActionLink("Create Article", "Create", "Posts")</li>
                <li>@Html.ActionLink("Search Article", "Index", "Posts")</li>

                @*<li>@Html.ActionLink("Upload Pictures", "Index", "SavingsMaintenances")</li>
                <li>@Html.ActionLink("Upload Videos", "Index", "SavingsMaintenances")</li>*@
            </ul><!--end /submenu -->
        </li><!--end /menu-li -->
                        <!-- END ARTICLES -->
                    

                        
                        <!-- BEGIN PROFILE -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-settings-applications"></i></div>
                                <span class="title">Profile</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li>@Html.ActionLink("Settings", "Index", "Manage")</li>
                                <li>@Html.ActionLink("Change Password", "ChangePassword", "Manage")</li>
                                <li>@Html.ActionLink("Log Out", "LogOff", "Account")</li>
                                </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <!-- END PROFILE -->


                    </ul><!--end .main-menu -->
                    <!-- END MAIN MENU -->

                    <div class="menubar-foot-panel">
                        <small class="no-linebreak hidden-folded">
                            <span class="opacity-75">Copyright &copy; @DateTime.Now.Year</span> <strong class="text-danger"> CompunetLimited</strong>
                        </small>
                    </div>
                </div><!--end .menubar-scroll-panel-->
            </div><!--end #menubar-->
        <!-- END MENUBAR -->
        }
        else
        {

        }

    </div><!--end #base-->
    <!-- END BASE -->
    <!-- BEGIN JAVASCRIPT -->
    
            @*<script src="~/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>*@
            <script src="~/Scripts/jquery-3.1.0.min.js"></script>
            <script src="~/assets/js/libs/ckeditor/ckeditor.js"></script>
            <script src="~/assets/js/libs/ckeditor/adapters/jquery.js"></script>
            <script src="~/assets/js/libs/summernote/summernote.min.js"></script>
            <script src="~/assets/js/libs/fullcalendar/fullcalendar.min.js"></script>
           
    
            <script src="~/assets/js/core/source/AppNavigation.js"></script>
            <script src="~/assets/js/core/demo/DemoFormEditors.js"></script>
<script src="~/assets/js/core/demo/DemoCalendar.js"></script>
    

    

@*<script src="~/LCSK/assets/js/jquery-2.1.1.min.js"></script>
            <script src="/lcsk/assets/js/jquery.signalR-2.1.1.min.js"></script>
            <script src="/signalr/hubs" type="text/javascript"></script>
            <script src="/lcsk/chat.js" type="text/javascript"></script>*@
  
@*<script type="text/javascript">


        //Call the method on pageload
        $(window).load(function () {
           // window.alert(5 + 6);
            var i = "@TempData["UserMessage"]";
            //window.alert(i);
            //Disply the modal popup
            if (i) {
                $('#simpleModal').modal('show');
            }

        });
    </script>*@


<script>
    var i = "@TempData["UserMessage"]";
   
    @*// window.alert(i);
      //alertify.success('@TempData["UserMessage"]');

      //Disply the modal popup*@
    var check = '@TempData["Title"]'.localeCompare('Success.');
    var check2 = '@TempData["Title"]'.localeCompare('Error.');
    var check3 = '@TempData["Title"]'.localeCompare('Default.');
    if (check === 0) {
        alertify.success('@TempData["UserMessage"]');
    } else if(check2 === 0) {
        alertify.error('@TempData["UserMessage"]');
    }
    else if (check3 === 0) {
        alertify.deafult('@TempData["UserMessage"]');
    }



</script>
   
<!-- END JAVASCRIPT -->

@Scripts.Render("~/bundles/angular")
<script src="~/Scripts/myScript.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
@*@Scripts.Render("~/bundles/fullcalendarjs")*@
<script src="~/MVCGridHandler.axd/script.js"></script>
@Scripts.Render("~/bundles/datatables")

   
    @RenderSection("scripts", required: false)

</body>
</html>
