<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mdbootstrap.com/live/_MDB/templates/Admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Jul 2017 21:22:01 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>

    <!-- Meta OG -->
    <meta property="og:title" content="Simple login form - Material Admin Dashboard">
    <meta property="og:description" content="Basic login form with nothing more than just required minimum to let your users log into teir accounts.">
    <meta property="og:image" content="../../../../img/Live/MDB/product-page.jpg">
    <meta property="og:url" content="login.html">
    <meta property="og:site_name" content="mdbootstrap.com">
    <!-- /Meta OG -->
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Basic login form with nothing more than just required minimum to let your users log into teir accounts." />
    <meta name="twitter:title" content="Simple login form - Material Admin Dashboard" />
    @*<meta name="twitter:site" content="@MDBootstrap" />
        <meta name="twitter:image" content="../../../../img/Live/MDB/product-page.jpg" />
        <meta name="twitter:creator" content="@MDBootstrap" />*@
    <!-- /Twitter Card -->
    @Scripts.Render("~/bundles/modernizr")
    <!-- Font Awesome -->
    <link href="~/Content/MdCss/font-awesome.min.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="~/Content/MdCss/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/Content/MdCss/mdb.css" rel="stylesheet" />

    <!-- Customizer -->
    <link href="~/Content/MdCss/customizer.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="~/Content/MdCss/style.css" rel="stylesheet" />
</head>
<body class="fixed-sn white-skin">
    @RenderBody()
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="~/Scripts/MdJs/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script src="~/Scripts/MdJs/tether.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/MdJs/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="~/Scripts/MdJs/mdb.min.js"></script>

    <!-- Customizer -->
    <script src="~/Scripts/MdJs/tether.min.js"></script>
    <script type="text/javascript">
    // Tooltips Initialization
    $(function () {
        $('[data-toggle="tooltip"]').tooltip('show');
    })
    </script>
    @RenderSection("scripts", required: false)
</body>

<!-- Mirrored from mdbootstrap.com/live/_MDB/templates/Admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Jul 2017 21:22:01 GMT -->
</html>