@model SwiftSkoolv1.Domain.Term

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Term</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TermName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TermName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveTerm)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TermId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
