@model IEnumerable<SwiftSkool.Models.Term>

@{
    ViewBag.Title = "Index";
}

<h2>List of Term</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TermName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveTerm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TermName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveTerm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TermId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TermId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TermId })
        </td>
    </tr>
}

</table>
