@model IEnumerable<SwiftSkoolv1.Domain.AppointmentDiary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SomeImportantKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeScheduled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusENUM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SomeImportantKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeScheduled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusENUM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
