@model SwiftSkoolv1.Domain.RemitaFeeSetting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RemitaFeeSetting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.School.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MerchantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApiKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApiKey)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RemitaFeeSettingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
