@using SwiftSkool.Services
@model SwiftSkoolv1.WebUI.ViewModels.AdminDashboardVm
    @*@using SwiftSkool.Services



@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<a href="~/Views/Home/AdminDashboard.cshtml">~/Views/Home/AdminDashboard.cshtml</a>
@{
    List<DataPoint> myModel = (List<DataPoint>)ViewBag.PiePoints;
}



<div class="">
   

    <div class="col-md-6">
     
        
       
            @{
                Html.RenderAction("Pie", "ChartTypes", new {model = myModel});
            }
       
    </div>
</div>
    


<div class="row">
        <!-- BEGIN ALERT - REVENUE -->

        <div class="col-md-6">
           
        </div><!--end .card-body -->
    
    <!-- END ALERT - REVENUE -->
    <!-- BEGIN ALERT - VISITS -->
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-warning no-margin">
                    <strong class="pull-right text-warning text-lg">@ViewBag.FemalePercentage % <i class="md md-swap-vert"></i></strong>
                    <strong class="text-xl">@ViewBag.Femalestudent</strong><br />
                    <span class="opacity-50">Total Girls</span>
                    <i class="fa fa-female fa-2x pull-right"></i>
                    <div class="stick-bottom-right">
                        <div class="height-1 sparkline-visits" data-bar-color="#e5e6e6"></div>
                    </div>
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
    <!-- END ALERT - VISITS -->
    <!-- BEGIN ALERT - BOUNCE RATES -->
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-danger no-margin">
                    <strong class="pull-right text-danger text-lg"> <i class="md md-swap-vert"></i></strong>
                    <strong class="text-xl">@ViewBag.TotalStudent</strong><br />
                    <span class="opacity-50">Total Student</span>
                    <i class="fa fa-male fa-2x pull-right"></i>
                    <i class="fa fa-plus fa-1x pull-right"></i>
                    <i class="fa fa-female fa-2x pull-right"></i>
                    <div class="stick-bottom-left-right">

                    </div>
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
    <!-- END ALERT - BOUNCE RATES -->
    <!-- BEGIN ALERT - TIME ON SITE -->
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-success no-margin">
                    <h1 class="pull-right text-success"><i class="md md-timer"></i></h1>
                    <strong class="text-xl">@ViewBag.TotalStaff</strong><br />
                    <span class="opacity-50">Total Staff</span>
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
    <!-- END ALERT - TIME ON SITE -->

</div><!--end .row -->

<div class="row">
   
    </ div>
   


    <!-- BEGIN TODOS -->
    <div class="col-md-3">
        <div class="card ">
            <div class="card-head">
                <header>News Titles</header>
                <div class="tools">
                    <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                </div>
            </div><!--end .card-head -->
            @Html.Action("Menu", "Posts")

        </div><!--end .card -->
    </div><!--end .col -->
    <!-- END TODOS -->
    <!-- BEGIN ALERT - REVENUE -->
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-info no-margin">
                    <strong class="pull-right text-success text-lg">0,0% <i class="md md-trending-up"></i></strong>
                    <strong class="text-xl"># </strong><br />
                    <span class="opacity-50">Revenue</span>
                    <div class="stick-bottom-left-right">
                        <div class="height-2 sparkline-revenue" data-line-color="#bdc1c1"></div>
                    </div>
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
    <!-- END ALERT - REVENUE -->
    <!-- BEGIN REGISTRATION HISTORY -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-head">
                <header>SMS Platform</header>
                <div class="tools">
                    @*<a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                    <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                    <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                </div>
            </div><!--end .card-head -->
            <div class="card-body no-padding">
                <div class="row">
                    <div class="col-md-5 hidden-xs">
                        <div class="force-padding text-sm text-default-light">
                            <p>
                                <i class="md md-mode-comment text-primary-light"></i>
                                Use the Sms module to send messages to Parents, Teachers or Custom Numbers
                            </p>
                        </div>
                    </div><!--end .col -->
                    <div class="col-md-5 hidden-xs">
                        <div class="force-padding text-sm text-default-light">
                            <ul>
                                <li>@Html.ActionLink("Send to Parents", "SendToAllStudent", "Sms")</li>
                                <li>@Html.ActionLink("Send to Teachers", "SendToStaff", "Sms")</li>
                                <li>@Html.ActionLink("Send to Number", "SendSms", "Sms")</li>
                            </ul>
                        </div>
                    </div>

                </div><!--end .card-body -->
            </div><!--end .card -->
        </div><!--end .col -->
        <!-- END REGISTRATION HISTORY -->


    </div><!--end .row -->






    <div class="col-md-6">
        <div class="card">
            <div class="card-head">
                <header>Population Statistics</header>
                <div class="tools">
                    @*<a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                    <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>

                </div>
            </div><!--end .card-head -->
            @*<div class="card-body no-padding">
            <div class="row">
                <div class="col-md-5 hidden-xs">
                    <img src="@Url.Action("CharterColumn")" alt="Chart">
                    @Html.Partial("ChartTypes/_Column")
                </div>
            </div>
        </div>
    </div><!--end .col -->
    <!-- END REGISTRATION HISTORY -->

        </div>
    </div><!--end .row -->
    <!-- BEGIN CALENDAR -->
    @*<div class="col-sm-9">
        @{
        Html.RenderAction("Pie", "ChartTypes", new {model = myModel});
        }
    </div><!--end .col -->
    <!-- END CALENDAR -->
    <div class="row">

        <!-- BEGIN SITE ACTIVITY -->
        <div class="col-md-9">
            <div class="card ">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="card-head">
                            <header>Site activity</header>
                        </div><!--end .card-head -->
                        <div class="card-body height-8">
                            <div id="flot-visitors-legend" class="flot-legend-horizontal stick-top-right no-y-padding"></div>
                            <div id="flot-visitors" class="flot height-7" data-title="Activity entry" data-color="#7dd8d2,#0aa89e"></div>
                        </div><!--end .card-body -->
                    </div><!--end .card-body -->
                    <!-- BEGIN SERVER STATUS -->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-head">
                                <header class="text-primary">Server status</header>
                            </div><!--end .card-head -->
                            <div class="card-body height-4">
                                <div class="pull-right text-center">
                                    <em class="text-primary">Temperature</em>
                                    <br />
                                    <div id="serverStatusKnob" class="knob knob-shadow knob-primary knob-body-track size-2">
                                        <input type="text" class="dial" data-min="0" data-max="100" data-thickness=".09" value="30" data-readOnly=true>
                                    </div>
                                </div>
                            </div><!--end .card-body -->
                            <div class="card-body height-4 no-padding">
                                <div class="stick-bottom-left-right">
                                    <div id="rickshawGraph" class="height-4" data-color1="#0aa89e" data-color2="rgba(79, 89, 89, 0.2)"></div>
                                </div>
                            </div><!--end .card-body -->
                        </div><!--end .card -->
                    </div><!--end .col -->
                    <!-- END SERVER STATUS -->
                </div>
            </div>
        </div>

        <div class="col-md-9">

        </div>
    </div><!--end .row -->


   
    <!-- END CONTENT -->
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        @*<script>
               // window.alert(5 + 6);
                $(document).ready(function () {

                    var sourceFullView = { url: '/Students/GetDiaryEvents/' };
                    var sourceSummaryView = { url: '/Students/GetDiarySummary/' };
                    var CalLoading = true;

                    $('#calendar').fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        defaultView: 'agendaDay',
                        editable: true,
                        allDaySlot: false,
                        selectable: true,
                        slotMinutes: 15,
                        events: '/Students/GetDiaryEvents/',
                        eventClick: function (calEvent, jsEvent, view) {
                            alert('You clicked on event id: ' + calEvent.id
                                + "\nSpecial ID: " + calEvent.someKey
                                + "\nAnd the title is: " + calEvent.title);

                        },

                        eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
                            if (confirm("Confirm move?")) {
                                UpdateEvent(event.id, event.start);
                            }
                            else {
                                revertFunc();
                            }
                        },

                        eventResize: function (event, dayDelta, minuteDelta, revertFunc) {

                            if (confirm("Confirm change appointment length?")) {
                                UpdateEvent(event.id, event.start, event.end);
                            }
                            else {
                                revertFunc();
                            }
                        },



                        dayClick: function (date, allDay, jsEvent, view) {
                            $('#eventTitle').val("");
                            $('#eventDate').val($.fullCalendar.formatDate(date, 'dd/MM/yyyy'));
                            $('#eventTime').val($.fullCalendar.formatDate(date, 'HH:mm'));
                            ShowEventPopup(date);
                        },

                        viewRender: function (view, element) {

                            if (!CalLoading) {
                                if (view.name == 'month') {
                                    $('#calendar').fullCalendar('removeEventSource', sourceFullView);
                                    $('#calendar').fullCalendar('removeEvents');
                                    $('#calendar').fullCalendar('addEventSource', sourceSummaryView);
                                }
                                else {
                                    $('#calendar').fullCalendar('removeEventSource', sourceSummaryView);
                                    $('#calendar').fullCalendar('removeEvents');
                                    $('#calendar').fullCalendar('addEventSource', sourceFullView);
                                }
                            }
                        }

                    });

                    CalLoading = false;


                });

                $('#btnInit').click(function () {
                    $.ajax({
                        type: 'POST',
                        url: "/Students/Init",
                        success: function (response) {
                            if (response === 'True') {
                                $('#calendar').fullCalendar('refetchEvents');
                                alert('Database populated! ');
                            }
                            else {
                                alert('Error, could not populate database!');
                            }
                        }
                    });
                });

                $('#btnPopupCancel').click(function () {
                    ClearPopupFormValues();
                    $('#popupEventForm').hide();
                });

                $('#btnPopupSave').click(function () {

                    $('#popupEventForm').hide();

                    var dataRow = {
                        'Title': $('#eventTitle').val(),
                        'NewEventDate': $('#eventDate').val(),
                        'NewEventTime': $('#eventTime').val(),
                        'NewEventDuration': $('#eventDuration').val()
                    }

                    ClearPopupFormValues();

                    $.ajax({
                        type: 'POST',
                        url: "/Students/SaveEvent",
                        data: dataRow,
                        success: function (response) {
                            if (response === 'True') {
                                $('#calendar').fullCalendar('refetchEvents');
                                alert('New event saved!');
                            }
                            else {
                                alert('Error, could not save event!');
                            }
                        }
                    });
                });

                function ShowEventPopup(date) {
                    ClearPopupFormValues();
                    $('#popupEventForm').show();
                    $('#eventTitle').focus();
                }

                function ClearPopupFormValues() {
                    $('#eventID').val("");
                    $('#eventTitle').val("");
                    $('#eventDateTime').val("");
                    $('#eventDuration').val("");
                }

                function UpdateEvent(EventID, EventStart, EventEnd) {

                    var dataRow = {
                        'ID': EventID,
                        'NewEventStart': EventStart,
                        'NewEventEnd': EventEnd
                    }

                    $.ajax({
                        type: 'POST',
                        url: "/Students/UpdateEvent",
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify(dataRow)
                    });
                }

            </script>
    }*@


@{
    List<DataPoint> myModel = (List<DataPoint>)ViewBag.PiePoints;
}
<!--Section: Intro-->
<section class="section section-intro">

    <!--First row-->
    <div class="row">
        <!--First column-->
        <div class="col-md-3 mb-1">
            <!--Card-->
            <div class="card card-cascade cascading-admin-card">
                 
                <!--Card Data-->
                <div class="admin-up">
                    <i class="fa fa-male blue darken-3"></i>
                    <div class="data">
                        <p><a href="@Url.Action("GetMaleStudentIndex","Students")"> BOYS</a></p>
                        <h3>@Model.MaleStudents</h3>
                    </div>
                </div>
                <!--/.Card Data-->
                <!--Card content-->
                <div class="card-block">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: @Model.MalePercentage" aria-valuenow="@Model.MalePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!--Text-->
                    <p class="card-text">Boys Percentage (@Model.MalePercentage)</p>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--/First column-->
        <!--Second column-->
        <div class="col-md-3 mb-1">
            <!--Card-->
            <div class="card card-cascade cascading-admin-card">

                <!--Card Data-->
                <div class="admin-up">
                    <i class="fa fa-female deep-purple darken-4"></i>
                    <div class="data">
                        <p> GIRLS</p>
                        <h3>@Model.FemaleStudents</h3>
                    </div>
                </div>
                <!--/.Card Data-->
                <!--Card content-->
                <div class="card-block">
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!--Text-->
                    <p class="card-text">Total Female Student</p>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--/Second column-->
        <!--Third column-->
        <div class="col-md-3 mb-1">
            <!--Card-->
            <div class="card card-cascade cascading-admin-card">

                <!--Card Data-->
                <div class="admin-up">
                    <i class="fa fa-male indigo"></i>
                    <div class="data">
                        <p> <a href="@Url.Action("Index","Staffs")">Total Staff </a></p>
                        <h3>@Model.TotalNumberOfStaff</h3>
                    </div>
                </div>
                <!--/.Card Data-->
                <!--Card content-->
                <div class="card-block">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!--Text-->
                    <p class="card-text"> <a href="@Url.Action("Index","Staffs")"> Total Number of Staff</a></p>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--/Third column-->
        <!--Fourth column-->
        <div class="col-md-3 mb-1">
            <!--Card-->
            <div class="card card-cascade cascading-admin-card">

                <!--Card Data-->
                <div class="admin-up">
                    <i class="fa fa-bar-chart purple"></i>
                    <div class="data">
                        <p>TOTAL SUBJECT</p>
                        <h3>@Model.SubjectCount</h3>
                    </div>
                </div>
                <!--/.Card Data-->
                <!--Card content-->
                <div class="card-block">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!--Text-->
                    <p class="card-text">Total Number of Subject</p>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>
        <!--/Fourth column-->

    </div>
    <!--/First row-->

</section>
<!--/Section: Intro-->
<!--Section: Main Chart-->
<section class="section">

    <!--Main row-->
    <div class="row">

        <div class="col-md-12">
            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Admin panel-->
                <div class="admin-panel">

                    <!--First row-->
                    <div class="row mb-1">

                        <!--First column-->
                        <div class="col-md-5">

                            <!--Panel title-->
                            <div class="view left primary-color">
                                <h2>SMS PLATFORM</h2>
                            </div>
                            <!--/Panel title-->
                            <!--Panel data-->
                            <div class="card-block pt-2">
                             
                                <table class="table no-header">
                                    <tbody>
                                        <tr>
                                            <td>@Html.ActionLink("Send to Parents", "SendToAllStudent", "Sms")</td>
                                          
                                        </tr>
                                        <tr>
                                            <td>@Html.ActionLink("Send to Teachers", "SendToStaff", "Sms")</td>
                                          
                                        </tr>
                                        <tr>
                                            <td>@Html.ActionLink("Send to Number", "SendSms", "Sms")</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--/Panel data-->
                        </div>
                        <!--/First column-->
                        <!--Second column-->
                        <div class="col-md-7">
                            <!--Cascading element-->
                            <div class="view right primary-color map-container">
                                <!--Main chart-->
                                @*<div id="world-map" style="width: 100%; height: 400px"></div>*@
                                @*@{
                                    Html.RenderAction("Pie", "ChartTypes", new {model = Model.DataPoint});
                                }*@
                                @*@Html.Action("Menu", "Posts")*@
                                <!--Panel title-->
                                <div class="view left primary-color">
                                    <h2>Chart Analysis</h2>
                                </div>
                                <!--/Panel title-->
                                <!--Panel data-->
                                <div class="card-block pt-2">
                                    @{
                                        Html.RenderAction("Pie", "ChartTypes", new {model = myModel});
                                    }
                                </div>
                                <!--/Panel data-->
                            </div>
                            <!--/Cascading element-->
                        </div>
                        <!--/Second column-->

                    </div>
                    <!--/First row-->
                    <!--Second row-->
                    <div class="row mb-0">
                        <!--First column-->
                        <div class="col-md-12">

                            <!--Panel content-->
                            <div class="card-block pt-0">
                               
                                @*<div class="table-responsive">

                                    <!--Table-->
                                    <table class="table table-hover">
                                        <!--Table head-->
                                        <thead>
                                        <tr class="primary-color">
                                            <th>Campaign name</th>
                                            <th>Source</th>
                                            <th>Conversion rate</th>
                                            <th>Invested</th>
                                        </tr>
                                        </thead>
                                        <!--/Table head-->
                                        <!--Table body-->
                                        <tbody>
                                        <tr class="none-top-border">
                                            <td>Newsletter</td>
                                            <td>Newsletter</td>
                                            <td>5%</td>
                                            <td>100$</td>
                                        </tr>
                                        <tr>
                                            <td>Facebook</td>
                                            <td>Facebook</td>
                                            <td>5%</td>
                                            <td>100$</td>
                                        </tr>
                                        <tr>
                                            <td>Adwords</td>
                                            <td>Adwords</td>
                                            <td>5%</td>
                                            <td>100$</td>
                                        </tr>
                                        <tr>
                                            <td>Sponsored post</td>
                                            <td>Sponsored post</td>
                                            <td>5%</td>
                                            <td>100$</td>
                                        </tr>
                                        <tr>
                                            <td>Newsletter 2</td>
                                            <td>Newsletter 2</td>
                                            <td>5%</td>
                                            <td>100$</td>
                                        </tr>
                                        </tbody>
                                        <!--/Table body-->
                                    </table>
                                    <!--/Table-->

                                </div>*@


                            </div>
                            <!--/.Panel content-->

                        </div>
                        <!--/First column-->
                    </div>
                    <!--/Second row-->

                </div>
                <!--/Admin panel-->

            </div>
            <!--/.Card-->
        </div>

    </div>
    <!--/Main row-->

</section>
<!--/Section: Main chart-->
<!--Section: Charts-->
<section>

    <!--Second row-->
    <div class="row">
       
        <p></p>
       
        @*<p> @{
                Html.RenderAction("Area", "ChartTypes");
            }</p>*@
        @*<!--First column-->
        <div class="col-md-4 mb-1">

            <!--Card-->
            <div class="card card-cascade narrower">
                <div class="admin-panel dpurple-admin-panel">
                    <!--Card image-->
                    <div class="view">
                        <canvas id="conversion" height="155px"></canvas>
                    </div>
                    <!--/Card image-->
                    <!--Card content-->
                    <div class="card-block">

                        @{
                            Html.RenderAction("Pie", "ChartTypes", new {model = Model.DataPoint});
                        }

                    </div>
                    <!--/.Card content-->

                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--/First column-->
        <!--Second column-->
        <div class="col-md-4 mb-1">

            <!--Card-->
            <div class="card card-cascade narrower">
                <div class="admin-panel indigo-admin-panel">
                    <!--Card image-->
                    <div class="view">
                        <canvas id="traffic" height="155px"></canvas>
                    </div>
                    <!--/Card image-->
                    <!--Card content-->
                    <div class="card-block">

                        <div class="list-group">
                            <a href="#" class="list-group-item">Cras justo odio <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Dapibus ac facilisi<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Morbi leo risus <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Porta ac consectet<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Vestibulum at eros <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--/Second column-->
        <!--Third column-->
        <div class="col-md-4 mb-1">

            <!--Card-->
            <div class="card card-cascade narrower">
                <div class="admin-panel purple-admin-panel">
                    <!--Card image-->
                    <div class="view">
                        <canvas id="seo" height="155px"></canvas>
                    </div>
                    <!--/Card image-->
                    <!--Card content-->
                    <div class="card-block">

                        <div class="list-group">
                            <a href="#" class="list-group-item">Cras justo odio <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Dapibus ac facilisi<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Morbi leo risus <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Porta ac consectet<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Vestibulum at eros <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--/Third column-->*@

    </div>
    <!--/Second row-->

</section>
<!--/Section: Charts-->


<!--Section: Notifications-->
<section class="section section-intro">

    <!--Second row-->
    <div class="row mb-3">

      
        <!--Third column-->
        <div class="col-md-4 mb-1">

            <!--Card-->
            <div class="card card-cascade narrower">
                <div class="admin-panel success-admin-panel">
                    <!--Card image-->
                    <div class="view">
                        <h5> Fee Analysis</h5>
                    </div>
                    <!--/Card image-->

                    <!--Card content-->
                    <div class="card-block">

                        <div class="list-group">
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--/Third column-->

    </div>
    <!--/Second row-->

</section>
<!--/Section: Notifications-->




<!--Section: Notifications-->
@*<section class="section section-intro">

    <!--Second row-->
    <div class="row mb-3">

        <!--First column-->
        <div class="col-md-4 mb-1">

            <!--Card-->
            <div class="card card-cascade narrower">
                <div class="admin-panel info-admin-panel">
                    <!--Card image-->
                    <div class="view">
                        <h5>Things to improve</h5>
                    </div>
                    <!--/Card image-->
                    <!--Card content-->
                    <div class="card-block">

                        <div class="list-group">
                            <a href="#" class="list-group-item">Cras justo odio <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Dapibus ac facilisi<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Morbi leo risus <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Porta ac consectet<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Vestibulum at eros <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--/First column-->
        <!--Second column-->
        <div class="col-md-4 mb-1">

            <!--Card-->
            <div class="card card-cascade narrower">
                <div class="admin-panel danger-admin-panel">
                    <!--Card image-->
                    <div class="view">
                        <h5>Critical errors</h5>
                    </div>
                    <!--/Card image-->
                    <!--Card content-->
                    <div class="card-block">

                        <div class="list-group">
                            <a href="#" class="list-group-item">Cras justo odio <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Dapibus ac facilisi<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Morbi leo risus <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Porta ac consectet<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Vestibulum at eros <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--/Second column-->
        <!--Third column-->
        <div class="col-md-4 mb-1">

            <!--Card-->
            <div class="card card-cascade narrower">
                <div class="admin-panel warning-admin-panel">
                    <!--Card image-->
                    <div class="view">
                        <h5>Warnings</h5>
                    </div>
                    <!--/Card image-->
                    <!--Card content-->
                    <div class="card-block">

                        <div class="list-group">
                            <a href="#" class="list-group-item">Cras justo odio <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Dapibus ac facilisi<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Morbi leo risus <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Porta ac consectet<i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                            <a href="#" class="list-group-item">Vestibulum at eros <i class="fa fa-wrench ml-auto" data-toggle="tooltip" data-placement="top" title="Click to fix"></i></a>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--/Third column-->

    </div>
    <!--/Second row-->

</section>
<!--/Section: Notifications-->
<!--Classic admin cards-->
<section class="section section-intro">

    <!--First row-->
    <div class="row">
        <!--First column-->
        <div class="col-md-3 mb-1">
            <!--Card Primary-->
            <div class="card classic-admin-card card-primary">
                <div class="card-block">
                    <div class="pull-right">
                        <i class="fa fa-money"></i>
                    </div>
                    <p>SALES</p>
                    <h4>2000$</h4>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="card-block">
                    <p>Better than last week (25%)</p>
                </div>
            </div>
            <!--/.Card Primary-->
        </div>
        <!--/First column-->
        <!--Second column-->
        <div class="col-md-3 mb-1">
            <!--Card Primary-->
            <div class="card classic-admin-card deep-purple darken-4">
                <div class="card-block">
                    <div class="pull-right">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <p>SUBSCRIPTIONS</p>
                    <h4>200</h4>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="card-block">
                    <p>Worse than last week (25%)</p>
                </div>
            </div>
            <!--/.Card Primary-->
        </div>
        <!--/Second column-->
        <!--Third column-->
        <div class="col-md-3 mb-1">
            <!--Card Primary-->
            <div class="card classic-admin-card indigo">
                <div class="card-block">
                    <div class="pull-right">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    <p>TRAFFIC</p>
                    <h4>20000</h4>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="card-block">
                    <p>Better than last week (75%)</p>
                </div>
            </div>
            <!--/.Card Primary-->
        </div>
        <!--/Third column-->
        <!--Fourth column-->
        <div class="col-md-3 mb-1">
            <!--Card Primary-->
            <div class="card classic-admin-card purple">
                <div class="card-block">
                    <div class="pull-right">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <p>ORGANIC TRAFFIC</p>
                    <h4>2000</h4>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="card-block">
                    <p>Better than last week (25%)</p>
                </div>
            </div>
            <!--/.Card Primary-->
        </div>
        <!--/Fourth column-->

    </div>
    <!--/First row-->

</section>*@
<!--/Classic admin cards-->
