@model List<SwiftSkoolv1.WebUI.Services.DownloadFileInformation>

@{
    ViewBag.Title = "Index";
}

<div class="card contact-card card-cascade narrower mb-r">
    <div class="admin-panel info-admin-panel">
        <!-- Card title -->
        <div class="view primary-color">
            <h5>Download Result</h5>
        </div>
        <br />
        <br />
        <table class="table">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Student Name
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.FilePath)
                    </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.FilePath)
                        </td>*@
                    <td>
                        @Html.ActionLink("Download Third Term Result", "Download", new { FileId = item.FileId }) |

                </tr>
            }

        </table>
    </div>
</div>