@model IEnumerable<SwiftSkool.Models.DownloadFileInformation>

@{
    ViewBag.Title = "Index";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FilePath)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.FilePath)
        </td>*@
        <td>
        @Html.ActionLink("Download", "Download", new {FileId = item.FileId}) |

    </tr>
}

</table>
