@model SwiftSkool.Models.AssignSubject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssignSubject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssignSubjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
