@model SwiftSkoolv1.Domain.HomePageSetUp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HomePageSetUp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptiveText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptiveText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HomePagesetUpId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
