

@model IEnumerable<SwiftSkoolv1.Domain.Objects.Post>

@{
    ViewBag.Title = "News/Article";
    bool isPreviousLinkVisible = ViewBag.IsPreviousLinkVisible ?? false;
    bool isNextLinkVisible = ViewBag.IsNextLinkVisible ?? false;
    bool isAdmin = ViewBag.IsAdmin ?? false;
}


<div class="row">
    <div class="col-sm-8">
        @foreach (SwiftSkoolv1.Domain.Objects.Post post in Model)
        {
            @PosthelperIndex.Render(post, Html, isAdmin, false)
        }

        <ul class="pager">
            @if (isPreviousLinkVisible)
            {
                <li class="previous">
                    <a id="previousLink" href="@Href("~/Posts/Index/" + (ViewBag.PageNumber - 1))">&lt; Previous Page</a>
                </li>
            }

            @if (isNextLinkVisible)
            {
                <li class="next">
                    <a id="nextLink" href="@Href("~/Posts/Index/" + (ViewBag.PageNumber + 1))"> Next Page &gt;</a>
                </li>
            }
        </ul>
    </div>

    <div class="col-sm-3">
        <!-- Subscribe to my feed widget -->
        @*<div class="well text-center">
            <p class="lead">
                Don't want to miss updates? Please click the below button!
            </p>
            <button class="btn btn-primary btn-lg" onclick="location.href = '@Url.Action("RSS","Posts")'">Subscribe to my feed</button>
        </div>*@

        <!-- Other widgets -->

        @Html.Action("Menu", "Posts")
        <br/>
        @Html.Action("TagList", "Posts")


        @*<div class="panel panel-default">
            <div class="panel-heading">
                <div id="twitterHeader"><a href="http://www.twitter.com/kunlesymls">@System.Configuration.ConfigurationManager.AppSettings["SchoolName"] on Twitter</a></div>
            </div>
            <div id="tweets">
            </div>
        </div>*@
    </div>
</div>


<script type="text/javascript">

    function myFunction() {
        var url = "/Post/Save?id=0";
        //$('#actionsList').modal("show");
        // window.alert(url);
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
</script>