
@model SwiftSkoolv1.Domain.CaSetUp


@if (Model != null && Model.CaSetUpId > 0)
{
    <h4>Update</h4>
}
else
{
    <h4>Save</h4>
}


<form id="myform" onsubmit="return false;">
                    
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
                       
                       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if(Model != null && Model.CaSetUpId > 0)
        {
            @Html.HiddenFor(model => model.CaSetUpId)
        }

        <div class="md-form">
            @Html.EditorFor(model => model.Term.TermName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model => model.Term.TermName)
            @Html.ValidationMessageFor(model => model.Term.TermName, "", new { @class = "text-danger" })

        </div>
     
        <div class="md-form">
            @Html.EditorFor(model => model.CaOrder, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model => model.CaOrder)
            @Html.ValidationMessageFor(model => model.CaOrder, "", new { @class = "text-danger" })
        </div>
        
        <div class="md-form">
            @Html.EditorFor(model => model.CaCaption, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model => model.CaCaption)
            @Html.ValidationMessageFor(model => model.CaCaption, "", new { @class = "text-danger" })
        </div>
        
        <div class="md-form">
            @Html.EditorFor(model => model.Class.ClassName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model => model.Class.ClassName)
            @Html.ValidationMessageFor(model => model.Class.ClassName, "", new { @class = "text-danger" })
        </div>
       

        @*<div class="form-group">
                    @Html.LabelFor(model => model.SubjectUnit, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SubjectUnit, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SubjectUnit, "", new { @class = "text-danger" })
                    </div>
                </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (Model != null && Model.CaSetUpId > 0)
                {
                    <input id="btnsubmit" type="submit" value="Update" class="btn btn-info"/>
                }
                else
                {
                    <input id="btnsubmit" type="submit" value="Save" class="btn btn-info" />
                }
                <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
 

    $("#btnsubmit").click(function () {

        var data = $("#myform").serialize();

        $.ajax({
            type: "POST",
            url: "/CaSetUp/Save",
            data: data,
            success: function (data) {
                if (data.status) {
                    $('#actionsList').modal("hide");
                    // debugger
                    //$.fn.oTable();
                    window.oTable.ajax.reload(); //run my_fun() ondomready
                    //window.location.href = "/Subjects/Index";
                        
                    toastr["success"](data.message);
                    $('#myform')[0].reset();
                } else {
                    //$('#actionsList').modal("hide");
                    toastr["error"]("Ca Failled to Create");
                }

            }
        });
    });

 
</script>