

@using (Html.BeginForm("EditAll", "CaSetUps", FormMethod.Get, new { @class = "form-inline" }))


{
    <div class="card">
        <div class="card-block">
            <div class="form-header  purple darken-4">
                <h3>
                    <i class="fa fa-save"></i> SetUp CA
                </h3>
            </div>




            <div class="form-group">
                    @Html.Label("Class Name", htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.DropDownList("ClassId", (SelectList)ViewBag.ClassId, "", new { @class = "form-control" })

                </div>
                <div class="form-group">
                    @Html.Label("Term Name", htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.DropDownList("TermId", (SelectList)ViewBag.TermId, "", new { @class = "form-control" })
                </div>
            @*<div class="form-group">
                @Html.Label("Class Name")
                @Html.DropDownList("ClassId", null, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.Label("Term Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("TermId", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>*@

            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
            </div>
        </div>



    </div>
}

