@model IEnumerable<SwiftSkool.Models.SessionSubjectTotal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
          Student ID
        </th>
        <th>
            Class Name
        </th>
        <th>
            Subject
        </th>
   
        <th>
           Session
        </th>
        <th>
           1st Score
        </th>
        <th>
            2nd Score
        </th>
        <th>
            3rd Score
        </th>
        <th>
            SummaryTotal
        </th>
        <th>
            WeightedScores
        </th>
        <th>
            SummaryGrading
        </th>
        <th>
            SummaryRemark
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.SessionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstTermScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondTermScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirdTermScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SummaryTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeightedScores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SummaryGrading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SummaryRemark)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.CombinedSubjectTotalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CombinedSubjectTotalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CombinedSubjectTotalId })*@
        </td>
    </tr>
}

</table>
