@model IEnumerable<SwiftSkool.Models.Affective>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Honesty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelfConfidence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sociability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Punctuality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Neatness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Initiative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceInClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HonestyAndReliability)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TermName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Honesty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SelfConfidence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sociability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Punctuality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Neatness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Initiative)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttendanceInClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HonestyAndReliability)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AffectiveId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AffectiveId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AffectiveId })
        </td>
    </tr>
}

</table>
