
@model PagedList.IPagedList<SwiftSkoolv1.Domain.Grade>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        
        <th>
           Grade Name
        </th>
        <th>
            Minimum Value
        </th>
        <th>
            Maximum Value
        </th>
        
        <th>
            Remark
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.GradeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumValue)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.GradePoint)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>

            <td>
                @*@Html.ActionLink("Edit", "Edit", new {id = item.GradeId}) |
            @Html.ActionLink("Details", "Details", new {id = item.GradeId}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.GradeId})*@
                <span>
                    <a href="@Url.Action("Edit", new {id = item.GradeId, @class = "btn btn-success"})"><span class="md-mode-edit"></span> Edit</a>
                </span> |
                <span>
                    <a href="@Url.Action("Delete", new {id = item.GradeId, @class = "btn btn-success"})"><span class="md-delete"></span> Delete</a>
                </span>
            </td>
        </tr>
    }

</table>

<br />
<div class="btn-group pull-right">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
    ViewBag.CurrentFilter
}))
</div>
