@model SwiftSkoolv1.Domain.AssignReportCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssignReportCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportCardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportCardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssignReportCardId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
