@model IEnumerable<SwiftSkoolv1.Domain.JambPractice.JambSubject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JambSubjectId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JambSubjectId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JambSubjectId })
        </td>
    </tr>
}

</table>
