

<h2>Exam Result</h2>


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<h3>

    <p>@ViewBag.StudentId</p>
    <p>@ViewBag.CourseId </p>
    <p>@ViewBag.Score</p>
</h3>      
            
   
   




    


