@model SwiftSkoolv1.WebUI.ViewModels.JambExam.JambSelectSubjectVm

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>
            @ViewBag.Message
        </strong>
    </div>
}

<!-- Modal -->
<div class="card">
    <div class="card-block">

        <div class="form-header  purple darken-4">

            <h4>Instructions for Jamb Exam</h4>
        </div>
        <div class="card-body">
            <p>
                <ol class="text-bold text-info">
                    <li>You are expected to attempt this subject for <i>the number of minutes you entered.
                    <li> Please enter the total number of questions and you are expected to attempt all.</li>
                    <li>If you do not understand a question, you can skip by clicking the NEXT button to come back to it.</li>
                    <li>
                        Upon answering the Last question, the review and finish button will be activated.
                        You can either click on the finish button to move to the next subject <br /> or click on
                        the review button to revisit the skipped questions. On the review page you can select the question number,
                        and it takes you to the question.
                    </li>
                    <li>After the review you can now click on the finish button to go to the next subject.</li>
                    <li>Repeat step 1 to 5 for every subject.</li>
                    <li>At the end of the examination, click on the submit button and Confirm Submitting the Exam.</li>
                    <li>If you exhaust your time, the system will end the test for you automatically and present your final result.</li>
                </ol>
            </p>

            <p>NOTE: Click the start button below to retrieve your questions. The timer will start Immediately.</p>
            <p>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        <h2>@ViewBag.ErrorMessage</h2>
                        @*<h2>@ViewBag.ServerDate</h2>*@
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Label("Subject Name", htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.DropDownList("JambSubjectId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.JambSubjectId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-7">
                                @Html.Label("Exam Year", htmlAttributes: new { @class = "control-label col-md-5" })
                                @Html.DropDownList("ExamYear", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ExamYear, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-7">
                                @Html.Label("Exam Type", htmlAttributes: new { @class = "control-label col-md-5" })
                                @Html.DropDownList("ExamType", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ExamType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-7">
                                @Html.Label("Total Question", htmlAttributes: new { @class = "control-label col-md-5" })
                                @Html.EditorFor(model => model.TotalQuestion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TotalQuestion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-7">
                                @Html.Label("Exam Time Duration", htmlAttributes: new { @class = "control-label col-md-5" })
                                @Html.EditorFor(model => model.ExamTime, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ExamTime, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Start Exam" class="btn ink-reaction btn-raised btn-primary btn-loading-state" />
                            </div>
                        </div>
                    </div>
                }
            </p>
        </div>
    </div>
</div>

@*<h2>@ViewBag.ServerDate</h2>*@