@model SwiftKampusModel.Payment.SchoolFeePayment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SchoolFeePayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FeeCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeeCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester.SemesterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester.SemesterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Session.SessionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session.SessionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Remaining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remaining)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SchoolFeePaymentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
