@model IEnumerable<SwiftKampusModel.Payment.SchoolFeePayment>

@{
    ViewBag.Title = "Payment History";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Payment History</h2>

    </div>
    <div class="col-lg-2">

    </div>
</div>
<br />
<table class="table table-responsive">
    <tr>
        <th>
            Fee Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester.SemesterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Session.SessionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.PaymentMode)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeeCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester.SemesterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Session.SessionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.PaymentMode)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @*@Html.ActionLink("Print Receipt", "PrintReceipt", new { id = item.SchoolFeePaymentId })*@
                <a class="btn btn-sm btn-success" href="@Url.Action("PrintReceipt","SchoolFeePayments", new{ id = item.SchoolFeePaymentId})">Print Receipt</a>
                @*<a href="#">Print Receipt</a>*@
            </td>
        </tr>
    }

</table>
 


