@model SwiftSkoolv1.WebUI.ViewModels.FeePaymentVm

@{
    ViewBag.Title = "Make Payment";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>School Fee Payment</h2>
       
    </div>
    <div class="col-lg-2">

    </div>
</div>

        <h2 class="text-danger text-center"> @ViewBag.Message</h2>
        @using (Html.BeginForm("Create", "FeePayments", FormMethod.Get))
        {
            @Html.AntiForgeryToken()


            <div class="form-horizontal">
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
          
                <h2> Payment for @ViewBag.StudentId</h2>

                <div class="form-group">
                    @Html.Label("Select Payment", htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-6">
                        @Html.DropDownList("FeeCategory", null, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.FeeCategory, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Select Term", htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-6">
                        @Html.DropDownList("TermName", null, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.TermName, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Select Session", htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-6">
                        @Html.DropDownList("SessionName", null, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.SessionName, "", new {@class = "text-danger"})
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="SELECT PAYMENT" class="btn btn-primary btn-lg"/>
                    </div>
                </div>
            </div>
        }

 

