@model SwiftSkoolv1.WebUI.ViewModels.Sms.SmsViewModel
@{
    ViewBag.Title = "Send Sms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-block">
    
        <div class="form-header  purple darken-4">
            <h3>
                <i class="fa fa-pencil-square-o"></i> Send Sms
            </h3>
        </div>
    
        @ViewBag.Message
        @using (Html.BeginForm("SendSMS", "Sms", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

   
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-12">
            
                    <div class="md-form">
                        @Html.LabelFor(model => model.ClassName, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-8">
                            @Html.DropDownList("ClassName", null, htmlAttributes: new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.ClassName, "", new {@class = "text-danger"})
                        </div>
                    </div>
            
                    <div class="md-form">
                        @Html.LabelFor(model => model.Term, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.DropDownList("Term", (SelectList)ViewBag.Term, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Term, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="md-form">
                        @Html.LabelFor(model => model.Session, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.DropDownList("Session", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="md-form">
                        @Html.Label("Sender's Name", htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.SenderId, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.SenderId, "", new {@class = "text-danger"})
                        </div>
                    </div>



                    <div class="md-form">
                        @Html.LabelFor(model => model.Message, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Message, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Message, "", new {@class = "text-danger"})
                        </div>
                    </div>


                    <div class="md-form">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default btn-success" value="Send Message"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">

                </div>
            </div>


        }



    </div>
</div>
