@model SwiftSkoolv1.Domain.Session


@if (Model != null && Model.SessionId > 0)
{
    <h4>Update</h4>
}
else
{
    <h4>Save</h4>
}


<form id="myform" onsubmit="return false;">
                    
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
                       
                       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if(Model != null && Model.SessionId > 0)
        {
            @Html.HiddenFor(model => model.SessionId)
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SessionName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SessionName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SessionName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActiveSession, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ActiveSession)
                    @Html.ValidationMessageFor(model => model.ActiveSession, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (Model != null && Model.SessionId > 0)
                {
                    <input id="btnsubmit" type="submit" value="Update" class="btn btn-info"/>
                }
                else
                {
                    <input id="btnsubmit" type="submit" value="Save" class="btn btn-info" />
                }
                <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
 

    $("#btnsubmit").click(function () {

        var data = $("#myform").serialize();

        $.ajax({
            type: "POST",
            url: "/Subjects/Save",
            data: data,
            success: function (data) {
                if (data.status) {
                    $('#actionsList').modal("hide");
                    // debugger
                    //$.fn.oTable();
                    window.oTable.ajax.reload(); //run my_fun() ondomready
                    //window.location.href = "/Subjects/Index";
                        
                    toastr["success"](data.message);
                    $('#myform')[0].reset();
                } else {
                    //$('#actionsList').modal("hide");
                    toastr["error"]("Subject code and Name are required field");
                }

            }
        });
    });

 
</script>
