@model SwiftSkoolv1.Domain.Session

<header class="activity-line-item-header">
    <div class="activity-line-item-user">
        <div class="activity-line-item-user-photo">
            <a href="activity.html#">
                <img src="img/photo-64-2.jpg" alt="">
            </a>
        </div>
        <div class="activity-line-item-user-name">
            @if (Model != null && Model.SessionId > 0)
            {
                <h5>
                    <i class="fa fa-pencil-square-o"></i> Update Record
                </h5>
            }
            else
            {
                <h3><i class="fa fa-save"></i> Save</h3>
            }
        </div>
    </div>
</header>

<form id="myform" onsubmit="return false;">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (Model != null && Model.SessionId > 0)
        {
            @Html.HiddenFor(model => model.SessionId)
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SessionName)
            @Html.EditorFor(model => model.SessionName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SessionName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ActiveSession, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ActiveSession)
                @Html.ValidationMessageFor(model => model.ActiveSession, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            @if (Model != null && Model.SessionId > 0)
            {
                <input id="btnsubmit" type="submit" value="Update" class="btn btn-info" />
            }
            else
            {
                <input id="btnsubmit" type="submit" value="Save" class="btn btn-info" />
            }
            <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $("#btnsubmit").click(function () {

        var data = $("#myform").serialize();

        $.ajax({
            type: "POST",
            url: "/Sessions/Save",
            data: data,
            success: function (data) {
                if (data.status) {
                    $('#actionsList').modal("hide");
                    window.oTable.ajax.reload(); //run my_fun() ondomready
                    toastr["success"](data.message);
                    $('#myform')[0].reset();
                } else {
                    //$('#actionsList').modal("hide");
                    toastr["error"](data.message);
                }

            }
        });
    });
</script>