@using SwiftKampusModel
@model SwiftKampusModel.Classroom.TopicMaterial
<div class="card">
    <div class="card-head style-primary">
        <header>
            <h3>
                Topic Material Details
            </h3>
        </header>

    </div><!--end .card-head -->
    <div class="card-body">
       
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Topic.Module.ModuleName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Topic.Module.ModuleName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Topic.TopicName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Topic.TopicName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Author)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Author)
                </dd>
            </dl>

        </div>
        <div>
            @if (Model.FileType == FileType.MP4)
            {
                <div style="text-align:center">
                    <button onclick="playPause()">Play/Pause</button>
                    <button onclick="makeBig()">Big</button>
                    <button onclick="makeSmall()">Small</button>
                    <button onclick="makeNormal()">Normal</button>
                    <br><br>
                    @*<video controls="controls">
                    <source src="~/TopicMaterials/How%20to%20Use%20our%20Learning%20Management%20System.mp4" type="video/mp4" />
                </video>*@
                    <video controls="controls" id="video1" width="420">
                        <source src="~/MaterialUpload/@Model.FileLocation" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            }
            else if (Model.FileType == FileType.PDF)
            {
                <iframe height="500" width="100%" src="~/MaterialUpload/@Model.FileLocation" allowfullscreen></iframe>
            }
            @*else if{
            <iframe src="http://docs.google.com/gview?url=http://www.yourwebsite.com/powerpoint.ppt&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
            }*@
        </div>

    </div>
</div>

<script>

    var myVideo = document.getElementById("video1");

    function playPause() {
        if (myVideo.paused)
            myVideo.play();
        else
            myVideo.pause();
    }

    function makeBig() {
        myVideo.width = 760;
    }

    function makeSmall() {
        myVideo.width = 320;
    }

    function makeNormal() {
        myVideo.width = 520;
    }
</script>