@model SwiftSkoolv1.Domain.ReportCardSetting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReportCardSetting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResumptionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumptionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrincipalSignature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrincipalSignature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReportCardSettingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
